  <% if current_user.profile.present?%>
  <turbo-frame id="edit_profile">
    <picture class="md:w-1/4">
      <% if @profile.avatar.attached? %>
        <%= image_tag @profile.avatar.variant(:thumb), class: "mx-auto" %>
      <% else %>
        <%= image_tag("defaultuser.png", class: "rounded-full w-32 h-32 mx-auto") %>
      <% end %>
    </picture>
    <div class="mt-4">
      <h2 class="text-lg font-semibold">姓名</h2>
      <%= @profile.full_name %>
    </div>
    <div class="mt-4">
      <h2 class="text-lg font-semibold">電話</h2>
      <%= @profile.phone %>
    </div>
    <div class="mt-4">
      <h2 class="text-lg font-semibold">住址</h2>
      <%= @profile.address %>
    </div>
    <div class="mt-4">
      <h2 class="text-lg font-semibold">語言</h2>
      <ul data-profileInfo-target="languages" class="mt-2 text-gray-700">
        <% @profile.languages.each do |language, level| %>
          <li><%= "#{language} • #{level}" %></li>
        <% end %>
      </ul>
    </div>
    <div class="mt-4">
      <h2 class="text-lg font-semibold">攳找的職稱</h2>
      <%= @profile.job_hunting %>
    </div>
    <div class="mt-4">
      <h2 class="text-lg font-semibold">自我介紹</h2>
      <%= @profile.about_me %>
    </div>
    <div class="mt-4">
      <h2 class="text-lg font-semibold">社群連結</h2>
      <%= @profile.social_link %>
    </div>
    <div class="mt-4">
      <%= link_to '修改個人資料',edit_profile_path , class:"save-btn", data: { turbo_frame: "edit-profile-frame" } %>
    </div>
  </turbo-frame>
<% else %>
  <h2 class="text-lg font-semibold">尚未擁有個人資料!</h2>
  <%= link_to '新增個人資料',new_profile_path , class:"save-btn", data: { turbo_frame: "new-profile-frame" }%>
<% end %>
