<div data-controller="profileInfo">
  <article>
    <section class="container p-4 pt-10 mx-auto">
      <div class="justify-center p-6 bg-white rounded-lg shadow-md md:flex">
        <picture class="md:w-1/4">
          <% if @profile.avatar.attached? %>
            <%= image_tag @profile.avatar.variant(:thumb), class: "mx-auto" %>
          <% else %>
            <%= image_tag("defaultuser.png", class: "rounded-full w-32 h-32 mx-auto") %>
          <% end %>
        </picture>
        <div class="mt-4 md:w-3/4 md:mt-0 md:pl-4">
          <h1 class="text-2xl font-semibold" data-profileInfo-target="fullName"><%= @profile.full_name %></h1>
          <p class="text-gray-600" data-profileInfo-target="jobTitle"><%= @profile.job_title %></p>
          <div class="mt-4">
            <h2 class="text-lg font-semibold">聯絡資訊</h2>
            <ul class="mt-2 text-gray-700">
              <li>
                <%= image_tag 'email.svg', class: "w-6 h-6 rounded-l-lg p-0.5 inline-block mb-1" %>
                <span data-profileInfo-target="email"><%= current_user.email %></span>
              </li>
              <li>
                <%= image_tag 'phone.svg', class: "w-6 h-6 rounded-l-lg p-0.5 inline-block mb-1" %>
                <span data-profileInfo-target="phone"><%= @profile.phone %></span>
              </li>
              <li>
                <%= image_tag 'address.svg', class: "w-6 h-6 rounded-l-lg p-0.5 inline-block mb-1" %>
                <span data-profileInfo-target="address"><%= @profile.address %></span>
              </li>
            </ul>
          </div>
          <!-- <div class="mt-4">
            <span class="text-lg font-semibold">關於我</span>
            <p class="text-gray-700" data-profileInfo-target="aboutMe">
              <%= @profile.about_me %>
            </p>
          </div> -->
          <div class="mt-4">
            <h2 class="text-lg font-semibold">語言</h2>
            <ul data-profileInfo-target="languages" class="mt-2 text-gray-700">
              <% @profile.languages.each do |language, level| %>
                <li><%= "#{language} • #{level}" %></li>
              <% end %>
            </ul>
          </div>
          <div class="mt-4">
            <h2 class="text-lg font-semibold">技能</h2>
            <ul data-profileInfo-target="skills" class="mt-2 text-gray-700">
              <% @profile.skills.each do |skill| %>
                <li class="inline-block bg-amber-100 text-amber-600 rounded p-0.5 mb-1"><%= skill.tag %></li>
              <% end %>
            </ul>
          </div>
          <div class="mt-4">
            <h2 class="text-lg font-semibold">工作經驗</h2>
            <ul data-profileInfo-target="workExperience" class="mt-2 text-gray-700">
              <li><%= @profile.work_experience %> <%= @profile.work_exp_date %></li>
            </ul>
          </div>
          <div class="mt-4">
            <h2 class="text-lg font-semibold">學歷</h2>
            <ul class="mt-2 text-gray-700">
              <li data-profileInfo-target="education"><%= @profile.education %> <%= @profile.education_date %></li>
            </ul>
          </div>
        </div>
        <span class="block mt-5">
          <%= link_to edit_profile_path do %>
            <%= image_tag 'edit.svg', class: "w-8 h-8 rounded-lg bg-amber-500 hover:bg-amber-400 font-lg cursor-pointer p-1.5" %>
          <% end %>
        </span>
      </div>
      <div class="mt-4">
        <section class="p-6 mt-6 bg-white rounded-lg shadow-md">
          <h2 class="mb-2 text-xl font-semibold">近期履歷</h2>
          <div class="grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-3">
            <div class="flex items-center justify-center p-5 border border-gray-300 rounded-md bg-amber-50">
              <% if @resume_basic_info.present? %>
                <%= link_to edit_resume_path(account: current_user.account, id: @resume_id) do %>
                  <%= image_tag 'edit.svg', class: "w-8 h-8 rounded-lg bg-amber-500 hover:bg-amber-400 font-lg cursor-pointer p-1.5" %>
                <% end %>
              <% else %>
                <a href="#" data-account="<%= current_user.account %>" data-profileInfo-target="updateContent" data-serial="<%= @resume_id %>" data-action="click->profileInfo#saveProfileToResume" >
                  <%= image_tag 'edit.svg', class: "w-8 h-8 rounded-lg bg-amber-500 hover:bg-amber-400 font-lg cursor-pointer p-1.5" %>
                </a>
              <% end %>
            </div>
            <div class="flex items-center justify-center p-5 border border-gray-300 rounded-md bg-amber-50">
              <%= link_to profile_path do %>
                <%= image_tag 'lock.svg', class: "w-8 h-8 rounded-lg bg-gray-200 hover:bg-gray-400 font-lg cursor-pointer p-1.5" %>
              <% end %>
            </div>
            <div class="flex items-center justify-center p-5 border border-gray-300 rounded-md bg-amber-50">
              <%= link_to profile_path do %>
                <%= image_tag 'lock.svg', class: "w-8 h-8 rounded-lg bg-gray-200 hover:bg-gray-400 font-lg cursor-pointer p-1.5" %>
              <% end %>
            </div>
          </div>
        </section>
      </div>
    </section>
  </article>
</div>
