<turbo-frame id="show_social">
  <turbo-frame id="edit_social" class="mb-5">
    <% if @social_link.present?%>
      <% @social_link.each do |social|%>
        <div class="flex justify-between py-2">
          <div>
            <%= link_to "#{social.title}", social.link%>
          </div>
          <div>
            <div class="flex">
            <%= link_to edit_social_link_path(id: social.id) do %>
              <%= image_tag("edit.png", class: "img_resize mx-1") %>
            <% end %>
            <%= link_to social_link_path(id: social.id), data:{turbo_method: :delete, turbo_confirm: "確定要刪除?"} do %>
              <%= image_tag("delete_img.png", class: "delete_img mx-1 mt-0.5")%>
            <% end %>
            </div>
          </div>
        </div>   
      <% end %>
    <% end %>  
  </turbo-frame>
  <turbo-frame id="new_social">
    <div class="mt-5">
      <% if @profile.present? %>
      <%= link_to '新增', new_social_link_path, class:"new-btn"%>
      <% else %>
        <button class="disabled-btn" data-controller="button-click" data-action="click->button-click#show_alert">新增</button>
      <% end %>
    </div>
  </turbo-frame>
</turbo-frame>
