<%= form_with(model: @blog, data: { turbo: false }) do |f| %>

<div>
    <%= f.label :title, '標題' %>
    <%= f.text_field :title %>
</div>


<div>
    <%= f.label :content, '內容'%>
    <%= f.text_area :content %>
</div>

<div>
    <%= f.submit %>
</div>


<% end %>