<div class="flex gap-5 items-center pt-28">
  <h2 class="text-2xl">文章列表</h2>    
  <%= link_to "新增文章",new_blog_path, class: "rounded-lg py-1 px-5 text-white bg-amber-500 hover:bg-amber-800 cursor-pointer" %>
</div>

<ul>
  <% @blogs.each do |blog| %>
  <li class="mt-12">
   <%= link_to blog.title, blog_path(blog.id), class: "hover:border-b-4 border-amber-300 text-xl" %>

   <div class="flex gap-4 mt-1">
    <%= link_to "更新", edit_blog_path(blog.id)%>
    <%= link_to "刪除", blog_path(blog.id), 
                                data: {
                                  turbo_method: "delete",
                                  turbo_confirm: "確定要刪除?"
                                }%> 
   
   </div>
    
  </li>
  <% end %>
  
</ul>

<div data-controller="enable-modal" data-action="click->enable-modal#setting" class="text-xl cursor-pointer my-16">Try
  <dialog data-enable-modal-target="please" class=" p-8 ">
    <form method="dialog">
      <p>This is a modal Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit officia recusandae, ex voluptatibus quasi nulla debitis sapiente architecto, laboriosam voluptatem officiis cupiditate! Fugit minus non iusto consectetur aliquam iste eum.</p>
      <div class="flex justify-end align-bottom">
      <button data-action="click->enable-modal#close" class="cancel-button">close</button>
      </div>
    </form>
  </dialog>
</div>




<div data-controller="toggle">
 <button data-action="click->toggle#toggle" class="text-2xl">Open Modal</button>
  <!-- The Modal -->
  <p>hetvff   <%= @blog %> </p>
  <div data-toggle-target="content" class="hidden">
     <div class="modal">
        
        <p class="modal-detail">Some text in the 42 fg5 h2 s24 45 77 899 33 078 4 28 Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eligendi ipsa id vel, adipisci dolorem deleniti doloremque repudiandae saepe odio ratione vero voluptatem expedita aut quaerat. Quam magnam eveniet numquam laudantium!
        Odit dicta sunt cupiditate dignissimos corporis praesentium atque quasi accusantium, quibusdam soluta? Fuga doloribus placeat ea neque aliquid eaque error maiores magni deleniti praesentium facere dicta assumenda ullam, distinctio necessitatibus!
        Atque eos, repellendus harum quasi excepturi rem temporibus illum maiores magni repudiandae unde dolores commodi maxime veritatis minima iste recusandae nam enim ut? Eius ut quae iusto sapiente, quia nemo.
        Numquam vitae dicta omnis autem debitis error explicabo amet earum, quod vero porro alias. Alias nisi, magni excepturi quo enim, deserunt nemo nihil aliquid vitae cum rerum, autem cupiditate iste.
        Perferendis cupiditate rerum quisquam suscipit hic deserunt iste eos labore debitis rem, odit est explicabo id ex sit commodi, necessitatibus sunt libero architecto. A veniam earum pariatur sunt odio saepe.
        Obcaecati enim ipsa voluptate cum recusandae eum rerum iusto rem ullam hic sit sapiente doloremque numquam architecto incidunt ab repudiandae harum, minus culpa deserunt, eos reiciendis? Sint vero maxime natus!
        Rerum a expedita maxime nisi atque, laborum pariatur mollitia provident reprehenderit consectetur, tempore perspiciatis possimus nesciunt sed at optio. Dignissimos, adipisci! Quia, rem nihil at nemo cupiditate non accusantium? Quas?
        Dolorum quidem eum sunt iusto debitis harum voluptas, natus quasi et placeat, vitae quis assumenda excepturi adipisci fugiat inventore hic error repellendus, suscipit cum pariatur numquam voluptatibus facere. Delectus, fugit.
        Eveniet harum, tempora, nam quaerat voluptatibus maiores deserunt eligendi illum recusandae ratione commodi dolores enim, veniam deleniti similique fuga ducimus? Ipsa modi corporis magnam accusamus sed, magni provident nostrum quas.
        Aperiam accusamus quibusdam, quos culpa debitis similique voluptatibus nihil enim assumenda saepe alias doloremque sequi eum magni dolores impedit repudiandae ab ratione fugiat dolore libero! Quam aspernatur eum sit a.
        Et accusantium tempore earum. Ratione molestias eaque aspernatur quas eveniet ipsa maxime sapiente excepturi asperiores. Earum sapiente non quod recusandae. Ut voluptatem officia iste recusandae nobis ex minus sunt similique!
        Laborum, molestias voluptatem. Nisi laudantium molestias cupiditate? Et exercitationem saepe minus eveniet placeat cum esse, repudiandae, ullam quos culpa doloribus sequi temporibus, ipsum incidunt! Recusandae, dignissimos. Ipsa cum maxime molestiae.
        Labore harum ex sequi, provident ipsam cumque eveniet commodi magnam pariatur amet vel voluptate, voluptatem, officia repellat sapiente dolores dolorum adipisci fuga laudantium! Eum odit similique asperiores aut? Veniam, nostrum!
        Eveniet atque ea quo accusamus animi quaerat temporibus doloribus unde numquam facere accusantium dolore placeat, reprehenderit explicabo suscipit vitae in voluptate perspiciatis expedita dicta aliquid ipsa! Totam sint eligendi minus?
        Voluptatum fuga laborum repellendus accusamus soluta. Odio culpa natus eos alias consequuntur, dolores consequatur expedita, aliquam molestiae dolore provident atque non nam tempore voluptatem impedit vel. Eveniet modi quisquam consectetur.
        Impedit ullam sint, ipsa reprehenderit aspernatur temporibus quis quisquam. Animi molestias doloremque vitae dolorum quidem quis tempora, quos aut praesentium adipisci autem nihil laudantium culpa inventore asperiores itaque unde eveniet?
        Amet adipisci obcaecati modi ipsum temporibus quidem voluptas recusandae ratione rerum est natus sint delectus, quisquam odio debitis necessitatibus animi molestias? Commodi, eveniet. Fugit excepturi obcaecati voluptas dolores eveniet unde!
        Eius corrupti illum delectus dolorem ullam deleniti sit architecto esse accusantium illo voluptas aperiam laboriosam blanditiis, distinctio quidem unde? Sequi ut adipisci eaque ipsa odio delectus natus? Nisi, assumenda quo.
        Debitis ratione voluptatibus officia voluptatem, enim quos repudiandae quaerat optio, asperiores libero nulla vitae id expedita eius itaque deleniti culpa. Explicabo totam minima pariatur distinctio magni fugiat harum adipisci reiciendis.
        Laboriosam eveniet quos iure fuga exercitationem! Sed officiis beatae nobis libero maiores quidem dicta, eum eaque, cupiditate vel voluptatibus? Minus ullam maiores quae qui accusamus cumque non magni totam ducimus.
        Est ipsam assumenda error iure, repudiandae non nostrum quas ab ex nihil? Eveniet est fuga odio pariatur voluptas quaerat, aliquam corrupti repellat enim. Repudiandae corrupti veniam, aspernatur corporis unde non?
        Dolor nemo aliquid porro accusantium fugit provident sint iste error deserunt fuga cumque, nam itaque esse repellendus enim culpa. In voluptatem accusamus culpa soluta amet ipsam provident deserunt accusantium enim?
        Officia cumque ut laboriosam quisquam fugiat corrupti modi tempora. Nobis provident fugiat minus reprehenderit debitis doloribus, non consectetur sapiente velit accusantium nesciunt aliquam quos delectus beatae veniam placeat atque earum.
        Harum, deleniti error dolorem omnis placeat quasi alias itaque ipsum, vel magnam fugit dolor nulla enim. Tempore eum, architecto atque dolor assumenda doloremque officiis ad, reiciendis ab earum, rem consectetur.
        Ipsum nulla explicabo voluptatibus suscipit minima impedit, itaque, recusandae est nemo neque saepe quas odit numquam perspiciatis. Consequuntur quo obcaecati voluptate maxime id, numquam vitae, tenetur quaerat reprehenderit atque dicta.
        Molestiae nisi eum possimus laborum! Nobis cupiditate tempora id fugit, dolorum dolor. Voluptatibus, nesciunt nobis recusandae cupiditate, quam explicabo accusantium voluptatum rerum consequatur assumenda quae sequi voluptate aperiam harum at.
        Repellendus consequatur dolore nemo, minus quisquam doloribus accusantium, sint nostrum porro id nisi corrupti reprehenderit molestiae cumque ipsa ducimus velit iusto obcaecati veritatis aliquam atque omnis soluta? Aspernatur, in quod!
        Eius sint dicta animi placeat, fugiat porro consequuntur molestias, fugit iste, labore amet aperiam nisi? Expedita delectus, corporis rerum repudiandae labore quia minus esse rem velit, voluptas fugiat vel accusantium!
        Reprehenderit, dignissimos inventore aliquam quis nemo exercitationem repellendus autem! Eos modi cum fugiat cumque quas quibusdam accusamus, qui iure quasi voluptate, laudantium minus ut explicabo eligendi unde ab dolor maiores?
        Natus non eaque ipsum accusantium ullam hic, aliquam quis excepturi consectetur delectus odit iusto distinctio culpa eligendi reiciendis eius, est ratione necessitatibus beatae rem vitae? Atque eaque perspiciatis nisi quae!
         <button class="modal-btn" data-action="click->toggle#toggle">X</button> 
        </p>
    </div>
  </div>    
</div>