 
    <h2 class="text-2xl pt-28">新增文章</h2>

    <%= form_with(model: @blog, data: { turbo: false }) do |f| %>

    <div class="my-4 gap-2">
      <%= f.label :title, "標題", class: "block text-lg" %>
      <%= f.text_field :title, class: "w-96 h-8 input" %>
    </div>

    <div class="my-4 gap-2">
      <%= f.label :content, "內容", class: "block text-lg" %>
      <%= f.text_area :content, class: "w-96 h-96 input" %>
    </div>

    <div class="my-4 flex gap-3">
      <%= f.submit "新增文章"  ,class: "save-btn text-lg" %>
      <%= link_to "取消", blogs_path, class: "save-btn text-lg" %>
    </div>
    

    <% end %>


   