<div class= "container flex justify-center pt-28">
  <section class="flex justify-center w-full">
    <div class="block px-3 py-2 mt-2 border border-gray-200 rounded-md shadow outline-none lg:w-1/3">
      <div class="flex justify-center py-3">
        <%= image_tag "websiteLogo.png", size:"50x50"%>
      </div>
      <div>
        <%- Devise.omniauth_providers.each do |provider| %>
          <%= button_to omniauth_authorize_path(:user, provider), data: { method: :post, turbo: false },class: 'nav-btn-signed-in w-full border' do%>
            <%= image_tag "google-btn.svg", size:"30x30"%>
            <p>使用 google 註冊</p>
          <% end %>
        <% end %>
        <hr class="my-5">
      </div>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>
        <div class="flex mt-2">
          <div class="flex items-center mx-2">
            <%= image_tag "mail.png", size:"20x20"%>
          </div>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: '信箱', class:"input" %>
        </div>
        <div class="flex mt-2">
          <div class="flex items-center mx-2">
            <%= image_tag "password.png", size:"20x20"%>
          </div>
          <%= f.password_field :password, autocomplete: "new-password", placeholder: "請輸入密碼", class:"input" %>
        </div>
        <div class="flex mt-2">
          <div class="flex items-center mx-2">
            <%= image_tag "password.png", size:"20x20"%>
          </div>
          <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "確認密碼", class:"input" %>
        </div>
        <div class="mt-2">
          <%= f.submit "註冊",data:{turbo: false}, class: "text-xl save-btn my-1 w-full"%>
        </div>
        <div class="flex items-center justify-center my-3">
          <p>已經有帳號了?</p>
          <%= link_to "登入", new_user_session_path, class:"flex items-center font-semibold text-amber-500 mx-3 h-10"%>
        </div>
      <% end %>
    </div>
  </section>
</div>
