<% if @education.present? %>
  <turbo-frame id="edit_education">
    <% @education.each do |education|%>
      <div class="my-2">
        <%= education.title %>
        <%= education.start_date %> ~ 
        <%= education.end_date %>
        <%= link_to '編輯', edit_education_path(id: education.id), class: "save-btn" %>
        <%= link_to '刪除', education_path(id: education.id), class: "save-btn", data:{turbo_method: :delete} %>
      </div>
    <% end %>
  </turbo-frame>
<% end %>
<%= link_to '新增', new_education_path, class: "save-btn" %>
