<turbo-frame id="new_education">
  <% if @education.present? %>
    <turbo-frame id="edit_education">
      <% @education.each do |education|%>
        <div class="flex justify-between my-2">
          <div>
            <%= education.title %>
            <%= education.start_date %> ~ 
            <%= education.end_date %>
          </div>
          <div class="flex">
            <%= link_to edit_education_path(id: education.id) do %>
              <%= image_tag("edit.png", class: "img_resize mx-1") %>
            <% end %>
            <%= link_to education_path(id: education.id), data:{turbo_method: :delete} do %>
              <%= image_tag("delete_img", class: "delete_img mx-1 mt-0.5")%>
            <% end %>
          </div>
        </div>
      <% end %>
    </turbo-frame>
  <% end %>
  <% if @profile.present? %>
    <%= link_to '新增', new_education_path, class: "save-btn" %>
  <% else %>
    <%= link_to '新增', new_education_path, class: "disabled-btn", disabled: true %>
  <% end %>
</turbo-frame>
