<h2 class="pb-6 text-xl pt-28">更新文章</h2>

<%= form_with(model: @article, data: { turbo: false }) do |f| %>

<div class="gap-2 my-4">
  <%= f.label :title, "標題", class: "block text-lg" %>
  <%= f.text_field :title, class: "w-96 h-8 input" %>
</div>

<div class="gap-2 my-4">
  <%= f.label :content, "內容", class: "block text-lg" %>
  <%= f.text_area :content, class: "w-96 h-96 input" %>
</div>

<div class="flex gap-3 my-4">
  <%= f.submit "更新文章" ,class: "save-btn text-lg" %>
  <%= link_to "取消", articles_path, class: "save-btn text-lg" %>
</div>

<% end %>