<div>
  <p>標題</p>
  <%= f.text_field :title, class: "@apply block w-full px-3 py-2 mt-2 border border-gray-200 rounded-md shadow outline-none" %>
</div>
<div>
  <p>內容</p>
  <%= f.text_area :content, class: "@apply block w-full px-3 py-2 mt-2 border border-gray-200 rounded-md shadow outline-none" %>
</div>
<div>
  <p>需求人數</p>
  <%= f.text_field :num_of_people, class: "@apply block w-full px-3 py-2 mt-2 border border-gray-200 rounded-md shadow outline-none" %>    
</div>
<div>
  <p>年資</p>
  <%= f.text_field :seniority, class: "@apply block w-full px-3 py-2 mt-2 border border-gray-200 rounded-md shadow outline-none" %>    
</div>
<div>
  <p>薪水</p>
  <%= f.text_field :salary, class: "@apply block w-full px-3 py-2 mt-2 border border-gray-200 rounded-md shadow outline-none" %>    
</div>
<button class="px-8 py-2 my-2 text-white rounded-lg bg-amber-500">
  <%= f.submit "確定" %>
</button>
