<div>
  <p>標題</p>
  <%= f.text_field :title, class: "input" %>
</div>
<div>
  <p>內容</p>
  <%= f.text_area :content, class: "input" %>
</div>
<div>
  <p>需求人數</p>
  <%= f.text_field :num_of_people, class: "input" %>    
</div>
<div>
  <p>年資</p>
  <%= f.text_field :seniority, class: "input" %>    
</div>
<div>
  <p>薪水</p>
  <%= f.text_field :salary, class: "input" %>    
</div>
<button class="px-8 py-2 my-2 text-white rounded-lg bg-amber-500">
  <%= f.submit "確定" %>
</button>
