<div class="container pt-6 mx-auto bg-gray-50">
  <h1 class="mt-6 text-5xl text-center"><%= @company.name %>-職缺列表</h1>

  <div class="container py-2 m-5 mx-auto text-white rounded-lg w-80 bg-amber-500">
    <% if @company %>
      <div>
        <%= link_to "新增職缺", new_company_job_path, class: "block text-white text-center" %>
      </div>
    <% end %>
  </div>
  <div class="my-5">
    <% @job_list.each do |job| %>
      <ul class="justify-between p-5 m-2 leading-6 border-b-2">
        <div>
          <li class="md:flex">
            <div class="p-2 md:w-2/3">
              <%= link_to job.title, company_job_path(@account, job), class: "text-2xl" %>
              <div><%= truncate(job.content, length: 100) %></div>
            </div>
            <div class="p-2 md:w-1/3">
              <div>需求人數: <%= job.num_of_people %></div>
              <div>年資: <%= job.seniority %></div>
              <div>薪水: <%= job.salary %></div>
            </div>
          </li>
        </div>

        <div class="container flex p-2 m-5 mx-auto text-white">
          <li>
            <%= link_to "編輯", edit_company_job_path(@account, job), class: "rounded-lg bg-amber-500 px-8 py-2 m-2" %>
          </li>
          <li>
            <%= link_to "刪除", company_job_path(@account, job), data: { turbo_method: "delete", turbo_confirm: "是否刪除" }, class: "rounded-lg bg-amber-500 px-8 py-2 m-2" %>
          </li>
          <li>
           <%= link_to "查看應徵者" , receive_apply_path(job.id), class: "rounded-lg bg-amber-500 px-8 py-2 m-2"%>
          </li>

        </div>
      </ul>
    <% end %>
  </div>
</div>
