<div class="form">
  <div class="relative p-1 my-2 border border-solid rounded-md">
    <%= render 'profiles/show' %>
  </div>
  <div  class="relative my-2 border-solid border rounded-md p-1">
    <%= render 'education/show'%>
  </div>
  <div class="relative my-2 border-solid border rounded-md p-1">
    <%= render 'social_link/show' %>
  </div>
  <div class="relative my-2 border-solid border rounded-md p-1">
    <%= render 'work_experiences/show' %>
  </div>
  <%= link_to "創建履歷", create_resume_path, data:{turbo_method: :post}%>
</div>
