<section class="flex flex-col justify-center place-items-center my-36">
  <div class="text-xl font-bold text-center text-gray-800 sm:text-xl lg:text-3xl lg:leading-tight">
    <p>HELLO! 歡迎加入 <span class="text-amber-500">READMee</span>!</p>
    <p class="mt-5 text-lg text-gray-500">請選擇您的身分</p>
  </div>
  <div class= "flex items-center justify-center mx-2 shadow-xl">
    <div class="mx-2">
      <div class="m-2">
        <%= image_tag "company.svg", class: "w-32 mx-auto"%>
        <%= link_to "我是雇主，我來找好員工!", employer_path, data: { turbo_method: "post" }, class: "save-btn my-2"%>
      </div>
    </div>
    <div class="mx-2">
      <div class="m-2">
        <%= image_tag "job_seeker.svg", class: "w-32 mx-auto"%>
        <%= link_to "我是求職者，我來找適合我的公司!", job_seeker_path,data: { turbo_method: "post" }, class: "save-btn my-2"%>
      </div>
    </div>
    <%= current_user.role%>
  </div>
</section>
