<turbo-frame id="edit_project">
  <% if @projects.present? %>
    <% @projects.each do |project| %>
      <%= project.title %>
      <%= project.use_skill %>
      <%= project.content %>
      <%= link_to "編輯", edit_project_path(id: project.id), class: "new-btn" %>
      <%= link_to "刪除", project_path(id: project.id), class: "new-btn", data:{turbo_method: :delete} %>
    <% end %>
  </table>
<% end %>
</turbo-frame>
<% if @profile.present? %>
  <%= link_to "新增", new_project_path, class: "new-btn" %>
<% else %>
  <%= link_to "新增", new_project_path, class: "new", disabled: true %>
<% end %>
