<div class="my-5">
  <%= render "logo_preview", f: f, company: @company %>
</div>
<div class="my-5">
  <%= f.label :公司名稱 %>
  <%= f.text_field :name, class: "input" %>
</div>
<div class="my-5">
  <%= f.label :公司地址 %>
  <%= f.text_field :address, class: "input" %>
</div>
<div class="my-5">
  <%= f.label :公司電話 %>
  <%= f.text_field :phone, class: "input" %>
</div>
<div class="my-5">
  <%= f.label :關於我們 %>
  <%= f.text_area :about, class: "input" %>
</div>
<div class="my-5">
  <%= f.label :人數規模 %>
  <%= f.text_field :population, class: "input" %>
</div>
<%= f.submit "確定", class: "px-5 py-2 my-2 text-white rounded-lg bg-amber-500 hover:bg-amber-600 cursor-pointer"%>

