<div class="my-5">
  <%= f.label :公司名稱 %>
  <%= f.text_field :name, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
</div>
<div class="my-5">
  <%= f.label :公司地址 %>
  <%= f.text_field :address, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
</div>
<div class="my-5">
  <%= f.label :公司電話 %>
  <%= f.text_field :phone, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
</div>
<div class="my-5">
  <%= f.label :關於我們 %>
  <%= f.text_area :about, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
</div>
<div class="my-5">
  <%= f.label :人數規模 %>
  <%= f.text_field :population, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
</div>
<button class="rounded-lg bg-amber-500 px-8 py-2 my-2 text-white">
  <%= f.submit "確定"%>
</button>
