<% if @company.present? %>
  <div class="container max-w-[85rem] px-4 py-5 sm:px-6 lg:px-8 lg:py-4 mx-auto">
    <div class="flex flex-col-reverse w-full h-full pt-4 transition-all border rounded-lg shadow-md md:flex-row group gap-y-6">
      <picture class="pb-3 md:w-1/4">
        <% if @company.avatar.attached? %>
          <%= image_tag @company.avatar.variant(:thumb), class: "mx-auto" %>
        <% else %>
          <div class="flex flex-col items-center justify-center">
            <%= image_tag("defaultuser.png", class: "rounded-full w-32 h-32 mx-auto") %>
          </div>
        <% end %>
      </picture>
      <div class="md:w-3/4">
        <h3 class="block text-2xl font-bold text-gray-800 dark:text-white"><%= @company.name %></h3>
        <div>
          <button>
            <% if current_user.role == "employer" %>
              <%=link_to "編輯", edit_company_path(current_user.account), class:"rounded-lg bg-amber-500 px-8 py-2 my-2 text-white my-2 block hover:bg-amber-600" %>
            <% end %>
          </button>
          <button>
            <% if current_user.role == "employer" %>
              <%= link_to "您的職缺", company_jobs_path(current_user.account), class:"rounded-lg bg-amber-500 px-8 py-2 my-2 text-white my-2 block hover:bg-amber-600" %>
            <% end %>
          </button>
        </div>
      </div>
    </div>
  </div>
  
  <div class="max-w-[85rem] px-4 py-5 sm:px-6 lg:px-8 mx-auto ">
  <span class="py-3 text-xl font-bold border-b-4 border-amber-500">關於:</span>
    <div class="grid gap-2 md:grid-cols-1 lg:grid-cols-3">
      <div class="col-span-2">
        <p class="text-black whitespace-pre-line">
          <%= @company.about %>
        </p>
      </div>
      <div class="pt-5 pl-5 space-y-6 lg:space-y-4">
        <div class="flex">
          <%= image_tag "jobs_show_address.png", class: "w-6 h-6 mr-2" %>
          <div class="ml-5">
            <h3 class="text-base font-semibold text-gray-800 sm:text-lg dark:text-gray-200">
              地址: <%= @company.address %>
            </h3>
          </div>
        </div>
        <div class="flex">
          <%= image_tag "phone.png", class: "w-6 h-6 mr-2" %>
          <div class="ml-5">
            <h3 class="text-base font-semibold text-gray-800 sm:text-lg dark:text-gray-200">
              電話: <%= @company.phone %>
            </h3>
          </div>
        </div>
        <div class="flex">
          
            <%= image_tag "jobs_show_people.png", class: "w-6 h-6 mr-2" %>
          
          <div class="ml-5">
            <h3 class="text-base font-semibold text-gray-800 sm:text-lg dark:text-gray-200">
              人數規模: <%= @company.population %>
            </h3>
          </div>
        </div>
      </div>
    </div>
  </div>
<% else %>
  <p>尚未建立公司資料</p>
  <button>
    <%= link_to "建立公司資料", new_company_path, class:"rounded-lg bg-amber-500 px-8 py-2 my-2 text-white my-2 block" %>
  </button>
<% end %>
