<% if @company.present? %>
      
  <div class="container max-w-[85rem] px-4 py-5 sm:px-6 lg:px-8 lg:py-14 mx-auto">
    <div class="flex w-full h-full transition-all rounded-lg shadow-md group gap-y-6">

      <div class="p-3">
        <img src="https://picsum.photos/150/150/?random=10">
      </div>
      <div class="grid place-content-end">
        <h3 class="block text-2xl font-bold text-gray-800 dark:text-white"><%= @company.name %></h3>
        <div>
          <button>
            <%=link_to "編輯", edit_company_path, class:"rounded-lg bg-amber-500 px-8 py-2 my-2 text-white my-2 block" %>
          </button>
          <button>
            <%= link_to "您的職缺", company_jobs_path, class:"rounded-lg bg-amber-500 px-8 py-2 my-2 text-white my-2 block" %>
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="container max-w-[85rem] px-4 sm:px-6 lg:px-8 mx-auto text-xl">
    關於
  </div>

  <div class="max-w-[85rem] px-4 py-5 sm:px-6 lg:px-8 mx-auto ">
    <div class="grid gap-12 md:grid-cols-3">
      <div class="col-span-2">
        <div class="flex">
          <div class="px-1">
            <img src="https://picsum.photos/200/100/?random=10">
          </div>
          <div class="px-1">
            <img src="https://picsum.photos/200/100/?random=10">
          </div>
        </div>
        <p class="text-gray-800 whitespace-pre-line dark:text-gray-400">
          <%= @company.about %>
        </p>
      </div>

      <div class="space-y-6 lg:space-y-4">
        <div class="flex">
          <span class="flex-shrink-0 inline-flex justify-center items-center w-[30px] h-[30px] rounded-full border border-gray-200 bg-white text-gray-800 shadow-sm dark:bg-slate-900 dark:border-gray-700 dark:text-gray-200">
            <%= image_tag "company_show_address.svg",  class:"w-5 h-5" %>                  
          </span>
          <div class="ml-5">
            <h3 class="text-base font-semibold text-gray-800 sm:text-lg dark:text-gray-200">
              地址: <%= @company.address %>
            </h3>
          </div>
        </div>
        
        <div class="flex">
          <span class="flex-shrink-0 inline-flex justify-center items-center w-[30px] h-[30px] rounded-full border border-gray-200 bg-white text-gray-800 shadow-sm dark:bg-slate-900 dark:border-gray-700 dark:text-gray-200">
            <%= image_tag "company_show_phone.svg",  class:"w-5 h-5" %>               
          </span>
          <div class="ml-5">
            <h3 class="text-base font-semibold text-gray-800 sm:text-lg dark:text-gray-200">
              電話: <%= @company.phone %>
            </h3>
          </div>
        </div>
        
        <div class="flex">
          <span class="flex-shrink-0 inline-flex justify-center items-center w-[30px] h-[30px] rounded-full border border-gray-200 bg-white text-gray-800 shadow-sm dark:bg-slate-900 dark:border-gray-700 dark:text-gray-200">
            <%= image_tag "company_show_pepole.svg", class:"w-5 h-5" %>
          </span>
          <div class="ml-5">
            <h3 class="text-base font-semibold text-gray-800 sm:text-lg dark:text-gray-200">
              人數規模: <%= @company.population %>
            </h3>
          </div>
        </div>
      </div>
    </div>
  </div>
<% else %>
  <p>尚未建立公司資料</p>
  <button>
    <%= link_to "建立公司資料", new_company_path, class:"rounded-lg bg-amber-500 px-8 py-2 my-2 text-white my-2 block" %>
  </button>
<% end %>