<div class="container p-3 m-5 mx-auto border-2 md:w-2/3">
  <% if @company.present? %>
    <h1 class="text-3xl"><%= @company.name %></h1>
    <P class="my-2">公司地址</P>
    <div><%= @company.address %></div>
    <P class="my-2">公司電話</P>
    <div><%= @company.phone %></div>
    <P class="my-2">人數規模</P>
    <div><%= @company.population %></div>
    <P class="my-2">關於我們</P>
    <div><%= @company.about %></div>
    <button class="">
      <%=link_to "編輯", edit_company_path, class:"rounded-lg bg-amber-500 px-8 py-2 my-2 text-white my-2 block" %>
    </button>
    <button>
      <%= link_to "查看所有職缺", company_jobs_path, class:"rounded-lg bg-amber-500 px-8 py-2 my-2 text-white my-2 block" %>
    </button>
  <% else %>
    <p>尚未建立公司資料</p>
    <button>
      <%= link_to "建立公司資料", new_company_path, class:"rounded-lg bg-amber-500 px-8 py-2 my-2 text-white my-2 block" %>
    </button>
  <% end %>
</div>

<!-- Icon Blocks -->
<div class="container max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto">
  <!-- Card -->
  <div class="flex w-full h-full p-5 transition-all rounded-lg group gap-y-6">

    <div class="px-3">
      <img src="https://picsum.photos/150/150/?random=10">
    </div>
    <div>
      <div>
        <h3 class="block text-2xl font-bold text-gray-800 dark:text-white"><%= @company.name %></h3>
        <a href="#" class="block px-8 py-2 my-2 text-white rounded-lg bg-amber-500">
          編輯
        </a>
        <a href="#" class="block px-8 py-2 my-2 text-white rounded-lg bg-amber-500">
          查看您的職缺
        </a>
      </div>
    </div>
  </div>
  <!-- End Card -->
</div>
<!-- End Icon Blocks -->

