  <div class= 'flex justify-center pt-28'>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field">
      <%= f.label :email, '信箱', class:'font-bold text-xl' %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email",class:'block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full' %>
    </div>

    <div class="field">
      <%= f.label :password, '密碼', class:'font-bold text-xl' %><br />
      <%= f.password_field :password, autocomplete: "current-password",class:'block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full' %>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="field">
        <div class="flex justify-between">
          <div class="items-center align-middle">
           <%= f.check_box :remember_me%>          
           <%= f.label :remember_me , '記住我', class:'text-xl align-middle' %>          
          </div>
         <%= link_to "忘記密碼？", new_password_path(resource_name), class:'text-xl align-middle' %>
        </div>       
      </div>
    <% end %>

    <div class="actions">
      <%= f.submit "登入",data:{turbo: false}, class:'text-xl save-btn my-1' %> <br />
    </div>
  <% end %>
  </div>
