<dev class="container pt-10 mx-auto">

  <!-- Pricing -->
  <div class="max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto">
    <!-- Title -->
    <div class="max-w-2xl mx-auto mb-10 text-center lg:mb-14">
      <h2 class="text-2xl font-bold md:text-4xl md:leading-tight dark:text-white">讓您更容易找到好工作</h2>
      <p class="mt-1 text-gray-600 dark:text-gray-400">選擇您的方案</p>
    </div>  
    <!-- End Title -->

    <!-- Grid -->
    <div class="grid gap-6 mt-12 sm:grid-cols-2 lg:grid-cols-3 lg:items-center">
      <!-- Card -->
      <div class="flex flex-col p-8 text-center border border-gray-200 rounded-xl dark:border-gray-700">
        <h4 class="text-lg font-medium text-gray-800 dark:text-gray-200">基本</h4>
        <span class="text-5xl font-bold text-gray-800 mt-7 dark:text-gray-200">免費</span>
        <p class="mt-2 text-sm text-gray-500">基本方案內容</p>

        <ul class="mt-7 space-y-2.5 text-sm">
          <li class="flex space-x-2">
            <%= icon_tick %>
            <span class="text-gray-800 dark:text-gray-400">
              免費下載
            </span>
          </li>

          <li class="flex space-x-2">
            <%= icon_tick %>
            <span class="text-gray-800 dark:text-gray-400">
              使用基本履歷模板
            </span>
          </li>

          <li class="flex space-x-2">
            <%= icon_tick %>
            <span class="text-gray-800 dark:text-gray-400">
              最多 1 篇履歷
            </span>
          </li>

          <li class="flex space-x-2">
            <%= icon_tick %>
            <span class="text-gray-800 dark:text-gray-400">
              履歷隱私設定
            </span>
          </li>
        </ul>
      </div>
      <!-- End Card -->

      <!-- Card -->
      <div class="flex flex-col px-8 pb-8 text-center border-2 shadow-xl border-amber-500 rounded-xl dark:border-blue-700">
        <p class="mb-3"><span class="inline-flex items-center gap-1.5 py-1.5 px-3 rounded-md text-xs uppercase font-semibold bg-amber-500 text-white dark:bg-amber-500 dark:text-white">最熱門選擇</span></p>
        <h4 class="text-lg font-medium text-gray-800 dark:text-gray-200">進階</h4>
        <span class="mt-5 text-5xl font-bold text-gray-800 dark:text-gray-200">
          <span class="-mr-2 text-2xl font-bold">NT$</span>
          300
        </span>
        <p class="mt-2 text-sm text-gray-500">包含基本方案再加上</p>

        <ul class="mt-7 space-y-2.5 text-sm">
          <li class="flex space-x-2">
            <%= icon_tick %>
            <span class="text-gray-800 dark:text-gray-400">
              使用基本 & 20+ 進階履歷模板
            </span>
          </li>

          <li class="flex space-x-2">
            <%= icon_tick %>
            <span class="text-gray-800 dark:text-gray-400">
              不限制履歷篇數
            </span>
          </li>

          <li class="flex space-x-2">
            <%= icon_tick %>
            <span class="text-gray-800 dark:text-gray-400">
              移除 READMee 品牌
            </span>
          </li>

          <li class="flex space-x-2">
            <%= icon_tick %>
            <span class="text-gray-800 dark:text-gray-400">
              獲得 Premium 勳章
            </span>
          </li>

          <li class="flex space-x-2">
            <%= icon_tick %>
            <span class="text-gray-800 dark:text-gray-400">
              查看所有所有個人檔案訪客
            </span>
          </li>
        </ul>

        <a class="inline-flex items-center justify-center gap-2 px-4 py-3 mt-5 text-sm font-semibold transition-all border-2 rounded-md text-amber-500 border-amber-500 hover:text-white hover:bg-amber-500 hover:shadow-md focus:outline-none focus:ring-2 focus:ring-amber-500 focus:ring-offset-2 dark:text-blue-500 dark:border-amber-500 dark:hover:border-blue-700" href="#">
          購買
        </a>
      </div>
      <!-- End Card -->

      <!-- Card -->
      <div class="flex flex-col p-8 text-center border border-gray-200 rounded-xl dark:border-gray-700">
        <h4 class="text-lg font-medium text-gray-800 dark:text-gray-200">專業</h4>
        <span class="mt-5 text-5xl font-bold text-gray-800 dark:text-gray-200">
          <span class="-mr-2 text-2xl font-bold">NT$</span>
          450
        </span>
        <p class="mt-2 text-sm text-gray-500">將履歷作為個人網站，打造線上個人品牌</p>

        <ul class="mt-7 space-y-2.5 text-sm">
          <li class="flex space-x-2">
            <%= icon_tick %>
            <span class="text-gray-800 dark:text-gray-400">
              使用 Google Analytics 追蹤您的履歷
            </span>
          </li>

          <li class="flex space-x-2">
            <%= icon_tick %>
            <span class="text-gray-800 dark:text-gray-400">
              專業客服
            </span>
          </li>
        </ul>

        <a class="inline-flex items-center justify-center gap-2 px-4 py-3 mt-5 text-sm font-semibold transition-all border-2 rounded-md text-amber-500 border-amber-500 hover:text-white hover:bg-amber-500 hover:shadow-md focus:outline-none focus:ring-2 focus:ring-amber-500 focus:ring-offset-2 dark:text-blue-500 dark:border-amber-500 dark:hover:border-blue-700" href="#">
          購買
        </a>
      </div>
    <!-- End Card -->
    </div>
  </div>
  <!-- End Pricing -->
  <div class="mt-5 text-center">
    <samp class="mt-1">可隨時取消 7 天內退款保證</samp>
    <samp class="mt-1 text-gray-600 dark:text-gray-400">（僅適用於首次訂閱）</samp>
  </div>
</div>
