<div id="chat-messages">
  <% if @chat_messages.nil? %>
    no chat
  <% else %>
    <% @chat_messages.each do |chat_message| %>
      <div class="message">
        <ul class="user-message">
          <li><%= current_user.account%>:</li>
          <li><%= chat_message.user_message %></li>
        </ul>
        <ul class="gpt_message">
          <li>GPT:</li>
          <li><%= chat_message.gpt_reply %></li>
        </ul>
      </div>
    <% end %>
  <% end %>
  <%= form_tag("/readmee_helper", method: "post") do %>
    <%= label_tag(:message, "Message:") %>
    <%= text_field_tag(:message, nil, placeholder:"請輸入訊息")  %>
    <%= submit_tag("Send") %>
  <% end %>
</div>
