<div data-controller="text-value">
  <%= form_tag("/readmee_helper", method: "post") do %>
    <%= label_tag(:message, "Message:") %>
    <%= text_field_tag(:message, nil, data: { "text-value-target": "input" }) %>
    <%= submit_tag("Send", data: { action: "click->text-value#clean" }) %>
  <% end %>
</div>
<div id="reply">
  <%=%>
  <%= render "chat" %>
</div>
