<div class="area3">
  <% if @resume.area_3 == 1 %>
  
    <div>
      <div class="mt-2">
        <h1 class="mb-5 font-bold">專案</h1>
        <div class="flex pb-14 h-60">
          <div class="flex flex-col w-1/2 pt-5l grow">
            <%= f.text_field :project_name_1, class: "w-full py-1 rounded-md resize-y" %>
            <%= f.text_area :project_content_1, class: "p-2 w-full py-1 grow rounded-md resize-y border-white" %>
          </div>
        </div>
        <div class="flex pb-14 h-60">
          <div class="flex flex-col w-1/2 pt-5l grow">
            <%= f.text_field :project_name_2, class: "w-full py-1 rounded-md resize-y" %>
            <%= f.text_area :project_content_2, class: "p-2 w-full py-1 grow rounded-md resize-y border-white" %>
          </div>
        </div>
      </div>
    </div>

  
  <% elsif @resume.area_3 == 2 %>
  
  <div>    
    <div id="area_3">
      <div class="font-bold ">
        專案經驗
      </div>
      <div class="flex">
        <div class="w-1/2 pr-2">
          <div>
          </div>
          <div>
            <%= f.text_field :project_name_1, class: "w-full py-1 px-2 rounded-md resize-y border-0 border-white" %>
          </div>
          <div>
            <%= f.text_area :project_content_1, class: "p-2 grow w-full mt-1 py-1 rounded-md resize-y border-0 border-white" %>
          </div>
        </div>
        <div class="w-1/2">
          <div>
          </div>
          <div>
            <%= f.text_field :project_name_2, class: "w-full py-1 px-2 rounded-md resize-y border-0 border-white" %>
          </div>
          <div>
            <%= f.text_area :project_content_2, class: "p-2 grow w-full mt-1 py-1 rounded-md resize-y border-0 border-white" %>
          </div>
        </div>
      </div>
    </div>
  
  <% end %>
</div>