<div class="area3">
  <% if @resume.area_3 == 1 %>

    <div>
      <div class="mt-2">
        <h1 class="pl-2 mb-5 font-bold">專案經驗</h1>
        <div class="flex pb-14 h-60">
          <div class="flex flex-col w-1/2 pt-5l grow">
            <%= f.text_field :project_name_1, class: "w-full py-1 rounded-md resize-y border-white", placeholder: "專案名稱一" %>
            <%= f.text_area :project_content_1, class: "h-32 p-2 w-full py-1 grow rounded-md resize-y border-white", placeholder: "專案內容一" %>
          </div>
        </div>
        <div class="flex pb-14 h-60">
          <div class="flex flex-col w-1/2 pt-5l grow">
            <%= f.text_field :project_name_2, class: "w-full py-1 rounded-md resize-y border-white", placeholder: "專案名稱二" %>
            <%= f.text_area :project_content_2, class: "h-32 p-2 w-full py-1 grow rounded-md resize-y border-white", placeholder: "專案內容二" %>
          </div>
        </div>
      </div>
    </div>

  <% elsif @resume.area_3 == 2 %>

  <div>
    <div id="area_3">
      <div class="pl-2 font-bold">
        專案經驗
      </div>
      <div class="md:flex">
        <div class="pr-2 md:w-1/2">
          <div>
            <%= f.text_field :project_name_1, class: "font-bold w-full py-1 px-2 rounded-md resize-y border-0 border-white", placeholder: "專案名稱一" %>
          </div>
          <div>
            <%= f.text_area :project_content_1, class: "h-52 p-2 grow w-full mt-1 py-1 rounded-md resize-y border-0 border-white", placeholder: "專案內容一" %>
          </div>
        </div>
        <div class="md:w-1/2">
          <div>
            <%= f.text_field :project_name_2, class: "font-bold w-full py-1 px-2 rounded-md resize-y border-0 border-white", placeholder: "專案名稱二" %>
          </div>
          <div>
            <%= f.text_area :project_content_2, class: "h-52 p-2 grow w-full mt-1 py-1 rounded-md resize-y border-0 border-white", placeholder: "專案內容二" %>
          </div>
        </div>
      </div>
    </div>

  <% end %>
</div>