<!-- _my_partial.html.erb -->
<div class="area4">
  <% if @resume.area_4 == 1 %>
  
    <div class="mt-2">
      <%= f.text_field :education_title, class: "p-2 w-full rounded-md border-0 border-white" %>
      <div class="flex justify-between mt-2">
        <%= f.text_field :education_name, class: "p-2 rounded-md border-gray-200 shadow outline-none" %>
        <div class="flex">
        <%= f.text_field :education_start_date, class: "p-2 rounded-md border-gray-200 shadow outline-none" %>
        <%= f.text_field :education_end_date, class: "p-2 rounded-md border-gray-200 shadow outline-none" %>
        </div>
      </div>
    </div>

  <% elsif @resume.area_4 == 2 %>
  

  <div>
    <div>
      <%= f.text_field :education_title, class: "p-2 w-full text-lg font-bold  rounded-md border-0 border-white" %>
    </div>
    <div class="flex">
      <div class="flex">
        <%= f.text_field :education_start_date_1, class: "mr-5 p-2 rounded-md border-0 border-white" %>
        <%= f.text_field :education_end_date_1, class: "p-2 rounded-md border-0 border-white mr-5" %>
        <%= f.text_field :education_name_1, class: "grow p-2 rounded-md border-0 border-white" %>
      </div>
    </div>
  </div>
</div>


  <% elsif @resume.area_4 == 3 %>
    
    <div class="mt-2">
      <%= f.text_field :education_title, class: "p-2 w-full  text-lg font-bold  rounded-md border-0 border-white", placeholder: "請輸入教育程度標題" %>
      <div class="flex justify-between mt-2">
        <%= f.text_field :education_name_1, class: "w-64 p-2 rounded-md border-0 border-white ", placeholder: "請輸入學歷名稱" %>
        <div class="flex">
        <%= f.text_field :education_start_date_1, class: "mr-5 p-2 rounded-md border-0 border-white ", placeholder: "請輸入學歷開始日期" %>
        <%= f.text_field :education_end_date_1, class: "p-2 rounded-md border-0 border-white ", placeholder: "請輸入學歷結束日期" %>
        </div>
      </div>
    </div>

    <div class="mt-2">
      <div class="flex justify-between mt-2">
        <%= f.text_field :education_name_2, class: "w-64 p-2 rounded-md border-0 border-white ", placeholder: "請輸入學歷名稱" %>
        <div class="flex">
        <%= f.text_field :education_start_date_2, class: "mr-5 p-2 rounded-md border-0 border-white", placeholder: "請輸入學歷開始日期" %>
        <%= f.text_field :education_end_date_2, class: "p-2 rounded-md border-0 border-white", placeholder: "請輸入學歷結束日期" %>
        </div>
      </div>
    </div>

  <% end %>
</div>