<!-- _my_partial.html.erb -->
<div class="area3">
  <% if @resume.area_3 == 1 %>

    <div class="mt-2">
      <%= f.text_field :project_title, class: "my-2 p-2 w-full rounded-md resize-y  border-0 border-white " %>
      <div class="flex pb-14 h-60">
        <%= image_tag "pdf-project.jpg" %>
        <div class="flex flex-col w-1/2 pt-5l grow">
          <%= f.text_field :project_name_1, class: "w-full py-1 rounded-md resize-y border-gray-200  shadow outline-none" %>
          <%= f.text_area :project_content_1, class: "w-full py-1 grow rounded-md resize-y border-gray-200 shadow outline-none" %>
        </div>
      </div>
    </div>
  
  <% elsif @resume.area_3 == 2 %>
    <% @resume.work_experiences.each do |f| %>
      area3組件二
      <%= f.title %>
    <% end %>
    <%= @resume.phone %>
  <% elsif @resume.area_3 == 3 %>
    area3組件三
    <%= @resume.address %>
  <% end %>
</div>