<div class="area4">
  <% if @resume.area_4 == 1 %>

    <div>
      <div class="mt-2">

        <h1 class="pl-2 font-bold">教育程度</h1>
        <div class="justify-between mt-2 md:flex">

          <% if @resume.education_name_1.present? %>
            <%= f.text_field :education_name_1,  class: "my-2 p-2 rounded-md resize-y border-0 border-white", placeholder: "教育程度一" %>
          <% else %>
            <% if @resume.profile.educations.first.present? %>
              <%= f.text_field :education_name_1, value: @resume.profile.educations.first.title,  class: "my-2 p-2 rounded-md resize-y border-0 border-white", placeholder: "教育程度一" %>
            <% else %>
              <%= f.text_field :education_name_1,  class: "my-2 p-2 rounded-md resize-y border-0 border-white", placeholder: "教育程度一" %>
            <% end %>
          <% end %>
          <div class="flex items-center date-education">

            <% if @resume.education_start_date_1.present? %>
              <%= f.text_field :education_start_date_1,  class: "my-2 p-2 rounded-md resize-y border-0 border-white input_w", placeholder: "開始時間" %>
            <% else %>
              <% if @resume.profile.educations.first.present? %>
                <%= f.text_field :education_start_date_1, value: @resume.profile.educations.first.start_date,  class: "my-2 p-2 rounded-md resize-y border-0 border-white input_w", placeholder: "開始時間" %>
              <% else %>
                <%= f.text_field :education_start_date_1,  class: "my-2 p-2 rounded-md resize-y border-0 border-white input_w", placeholder: "開始時間" %>
              <% end %>
            <% end %>
            <span>~</span>
            <% if @resume.education_end_date_1.present? %>
              <%= f.text_field :education_end_date_1,  class: "my-2 p-2 rounded-md resize-y border-0 border-white input_w", placeholder: "結束時間" %>
            <% else %>
              <% if @resume.profile.educations.first.present? %>
                <%= f.text_field :education_end_date_1, value: @resume.profile.educations.first.end_date,  class: "my-2 p-2 rounded-md resize-y border-0 border-white input_w", placeholder: "結束時間" %>
              <% else %>
                <%= f.text_field :education_end_date_1,  class: "my-2 p-2 rounded-md resize-y border-0 border-white input_w", placeholder: "結束時間" %>
              <% end %>
            <% end %>

          </div>
        </div>

        <div class="justify-between md:flex ">

          <% if @resume.education_name_2.present? %>
            <%= f.text_field :education_name_2,  class: " p-2 rounded-md resize-y border-0 border-white", placeholder: "教育程度二" %>
          <% else %>
            <% if @resume.profile.educations.second.present? %>
              <%= f.text_field :education_name_2, value: @resume.profile.educations.second.title,  class: "my-2 p-2 rounded-md resize-y border-0 border-white", placeholder: "教育程度二" %>
            <% else %>
              <%= f.text_field :education_name_2,  class: " p-2 rounded-md resize-y border-0 border-white", placeholder: "教育程度二" %>
            <% end %>
          <% end %>

          <div class="flex items-center">
            <% if @resume.education_start_date_2.present? %>
              <%= f.text_field :education_start_date_2,  class: " p-2 rounded-md resize-y border-0 border-white input_w", placeholder: "開始時間" %>
            <% else %>
              <% if @resume.profile.educations.second.present? %>
                <%= f.text_field :education_start_date_2, value: @resume.profile.educations.second.start_date,  class: " p-2 rounded-md resize-y border-0 border-white input_w", placeholder: "開始時間" %>
              <% else %>
                <%= f.text_field :education_start_date_2,  class: " p-2 rounded-md resize-y border-0 border-white input_w", placeholder: "開始時間" %>
              <% end %>
            <% end %>
            <span>~</span>
            <% if @resume.education_end_date_2.present? %>
              <%= f.text_field :education_end_date_2,  class: " p-2 rounded-md resize-y border-0 border-white input_w", placeholder: "結束時間" %>
            <% else %>
              <% if @resume.profile.educations.second.present? %>
                <%= f.text_field :education_end_date_2, value: @resume.profile.educations.second.end_date,  class: " p-2 rounded-md resize-y border-0 border-white input_w", placeholder: "結束時間" %>
              <% else %>
                <%= f.text_field :education_end_date_2,  class: " p-2 rounded-md resize-y border-0 border-white input_w", placeholder: "結束時間" %>
              <% end %>

            <% end %>
          </div>
        </div>
      </div>



    </div>



  <% elsif @resume.area_4 == 2 %>


  <div>
    <div>
      <div>
        <h1 class="pl-2 font-bold">教育程度</h1>
      </div>
      <div class="flex">
        <div class="items-center justify-between w-full md:flex">

          <div class="mr-2">
            <% if @resume.education_start_date_1.present? %>
            <%= f.text_field :education_start_date_1,  class: "my-2 p-2 rounded-md resize-y border-0 border-white input_w", placeholder: "開始時間" %>
            <% else %>
              <% if @resume.profile.educations.first.present? %>
                <%= f.text_field :education_start_date_1, value: @resume.profile.educations.first.start_date,  class: "my-2 p-2 rounded-md resize-y border-0 border-white input_w", placeholder: "開始時間" %>
              <% else %>
                <%= f.text_field :education_start_date_1,  class: "my-2 p-2 rounded-md resize-y border-0 border-white input_w", placeholder: "開始時間" %>
              <% end %>
            <% end %>
            <span>~</span>
            <% if @resume.education_end_date_1.present? %>
              <%= f.text_field :education_end_date_1,  class: "my-2 p-2 rounded-md resize-y border-0 border-white input_w", placeholder: "結束時間" %>
            <% else %>
              <% if @resume.profile.educations.first.present? %>
                <%= f.text_field :education_end_date_1, value: @resume.profile.educations.first.end_date,  class: "my-2 p-2 rounded-md resize-y border-0 border-white input_w", placeholder: "結束時間" %>
              <% else %>
                <%= f.text_field :education_end_date_1,  class: "my-2 p-2 rounded-md resize-y border-0 border-white input_w", placeholder: "結束時間" %>
              <% end %>
            <% end %>
          </div>

          <div>
            <% if @resume.education_name_1.present? %>
              <%= f.text_field :education_name_1,  class: "my-2 p-2 rounded-md resize-y border-0 border-white md:text-right md:w-96", placeholder: "教育程度一" %>
            <% else %>
              <% if @resume.profile.educations.first.present? %>
                <%= f.text_field :education_name_1, value: @resume.profile.educations.first.title,  class: "my-2 p-2 rounded-md resize-y border-0 border-white md:text-right md:w-96", placeholder: "教育程度一" %>
              <% else %>
                <%= f.text_field :education_name_1,  class: "my-2 p-2 rounded-md resize-y border-0 border-white md:text-right md:w-96", placeholder: "教育程度一" %>
              <% end %>
            <% end %>
          </div>

        </div>
      </div>
      <div class="flex">
        <div class="justify-between w-full md:flex">

          <div class="mr-2">
            <% if @resume.education_start_date_2.present? %>
            <%= f.text_field :education_start_date_2,  class: "my-2 p-2 rounded-md resize-y border-0 border-white input_w", placeholder: "開始時間" %>
            <% else %>
              <% if @resume.profile.educations.second.present? %>
                <%= f.text_field :education_start_date_2, value: @resume.profile.educations.second.start_date,  class: "my-2 p-2 rounded-md resize-y border-0 border-white input_w", placeholder: "開始時間" %>
              <% else %>
                <%= f.text_field :education_start_date_2,  class: "my-2 p-2 rounded-md resize-y border-0 border-white input_w", placeholder: "開始時間" %>
              <% end %>
            <% end %>
            <span>~</span>
            <% if @resume.education_end_date_2.present? %>
              <%= f.text_field :education_end_date_2,  class: "my-2 p-2 rounded-md resize-y border-0 border-white input_w", placeholder: "結束時間" %>
            <% else %>
              <% if @resume.profile.educations.second.present? %>
                <%= f.text_field :education_end_date_2, value: @resume.profile.educations.second.end_date,  class: "my-2 p-2 rounded-md resize-y border-0 border-white input_w", placeholder: "結束時間" %>
              <% else %>
                <%= f.text_field :education_end_date_2,  class: "my-2 p-2 rounded-md resize-y border-0 border-white input_w", placeholder: "結束時間" %>
              <% end %>
            <% end %>
          </div>

          <div>
            <% if @resume.education_name_2.present? %>
              <%= f.text_field :education_name_2,  class: "my-2 p-2 rounded-md resize-y border-0 border-white md:text-right md:w-96", placeholder: "教育程度二" %>
            <% else %>
              <% if @resume.profile.educations.second.present? %>
                <%= f.text_field :education_name_2, value: @resume.profile.educations.second.title,  class: "my-2 p-2 rounded-md resize-y border-0 border-white md:text-right md:w-96", placeholder: "教育程度二" %>
              <% else %>
                <%= f.text_field :education_name_2,  class: "my-2 p-2 rounded-md resize-y border-0 border-white md:text-right md:w-96", placeholder: "教育程度二" %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

  <% end %>
</div>