<div class="area4">
  <% if @resume.area_4 == 1 %>
  
    <div>
      <div class="mt-2">

        <h1 class="font-bold">教育程度</h1>
        <div class="flex justify-between mt-2">
  
          <% if @resume.education_name_1.present? %>
            <%= f.text_field :education_name_1,  class: "my-2 p-2 rounded-md resize-y border-0 border-white", placeholder: "教育程度一" %>
          <% else %>
            <% if @profile.educations.first.present? %>
              <%= f.text_field :education_name_1, value: @profile.educations.first.title,  class: "my-2 p-2 rounded-md resize-y border-0 border-white", placeholder: "教育程度一" %>
            <% else %>
              <%= f.text_field :education_name_1,  class: "my-2 p-2 rounded-md resize-y border-0 border-white", placeholder: "教育程度一" %>
            <% end %>
          <% end %>
          <div class="flex">
          
            <% if @resume.education_start_date_1.present? %>
              <%= f.text_field :education_start_date_1,  class: "my-2 p-2 rounded-md resize-y border-0 border-white", placeholder: "開始時間" %>
            <% else %>
              <% if @profile.educations.first.present? %>
                <%= f.text_field :education_start_date_1, value: @profile.educations.first.start_date,  class: "my-2 p-2 rounded-md resize-y border-0 border-white", placeholder: "開始時間" %>
              <% else %>
                <%= f.text_field :education_start_date_1,  class: "my-2 p-2 rounded-md resize-y border-0 border-white", placeholder: "開始時間" %>
              <% end %>
            <% end %>
  
            <% if @resume.education_end_date_1.present? %>
              <%= f.text_field :education_end_date_1,  class: "my-2 p-2 rounded-md resize-y border-0 border-white", placeholder: "結束時間" %>
            <% else %>
              <% if @profile.educations.first.present? %>
                <%= f.text_field :education_end_date_1, value: @profile.educations.first.end_date,  class: "my-2 p-2 rounded-md resize-y border-0 border-white", placeholder: "結束時間" %>
              <% else %>
                <%= f.text_field :education_end_date_1,  class: "my-2 p-2 rounded-md resize-y border-0 border-white", placeholder: "結束時間" %>
              <% end %>
            <% end %>
            
          </div>
        </div>
        
        <div class="flex justify-between mt-2">
  
          <% if @resume.education_name_2.present? %>
            <%= f.text_field :education_name_2,  class: "my-2 p-2 rounded-md resize-y border-0 border-white", placeholder: "開始時間" %>
          <% else %>
            <% if @profile.educations.second.present? %>
              <%= f.text_field :education_name_2, value: @profile.educations.second.title,  class: "my-2 p-2 rounded-md resize-y border-0 border-white", placeholder: "開始時間" %>
            <% else %>
              <%= f.text_field :education_name_2,  class: "my-2 p-2 rounded-md resize-y border-0 border-white", placeholder: "開始時間" %>
            <% end %>
          <% end %>
          
          <div class="flex">
            <% if @resume.education_start_date_2.present? %>
              <%= f.text_field :education_start_date_2,  class: "my-2 p-2 rounded-md resize-y border-0 border-white", placeholder: "開始時間" %>
            <% else %>
              <% if @profile.educations.second.present? %>
                <%= f.text_field :education_start_date_2, value: @profile.educations.second.start_date,  class: "my-2 p-2 rounded-md resize-y border-0 border-white", placeholder: "開始時間" %>
              <% else %>
                <%= f.text_field :education_start_date_2,  class: "my-2 p-2 rounded-md resize-y border-0 border-white", placeholder: "開始時間" %>
              <% end %>
            <% end %>
  
            <% if @resume.education_end_date_2.present? %>
              <%= f.text_field :education_end_date_2,  class: "my-2 p-2 rounded-md resize-y border-0 border-white", placeholder: "結束時間" %>
            <% else %>
              <% if @profile.educations.second.present? %>
                <%= f.text_field :education_end_date_2, value: @profile.educations.second.end_date,  class: "my-2 p-2 rounded-md resize-y border-0 border-white", placeholder: "結束時間" %>
              <% else %>
                <%= f.text_field :education_end_date_2,  class: "my-2 p-2 rounded-md resize-y border-0 border-white", placeholder: "結束時間" %>
              <% end %>
              
            <% end %>
          </div>
        </div>
      </div>



    </div>



  <% elsif @resume.area_4 == 2 %>


  <div>
    <div>
      <div>
        <h1 class="font-bold">教育程度</h1>
      </div>
      <div class="flex">
        <div class="flex">
        
          <% if @resume.education_start_date_1.present? %>
            <%= f.text_field :education_start_date_1,  class: "my-2 p-2 rounded-md resize-y border-0 border-white", placeholder: "開始時間" %>
          <% else %>
            <% if @profile.educations.first.present? %>
              <%= f.text_field :education_start_date_1, value: @profile.educations.first.start_date,  class: "my-2 p-2 rounded-md resize-y border-0 border-white", placeholder: "開始時間" %>
            <% else %>
              <%= f.text_field :education_start_date_1,  class: "my-2 p-2 rounded-md resize-y border-0 border-white", placeholder: "開始時間" %>
            <% end %>
          <% end %>
                  
          <% if @resume.education_end_date_1.present? %>
            <%= f.text_field :education_end_date_1,  class: "my-2 p-2 rounded-md resize-y border-0 border-white", placeholder: "結束時間" %>
          <% else %>
            <% if @profile.educations.first.present? %>
              <%= f.text_field :education_end_date_1, value: @profile.educations.first.end_date,  class: "my-2 p-2 rounded-md resize-y border-0 border-white", placeholder: "結束時間" %>
            <% else %>
              <%= f.text_field :education_end_date_1,  class: "my-2 p-2 rounded-md resize-y border-0 border-white", placeholder: "結束時間" %>
            <% end %>
          <% end %>
          
          <% if @resume.education_name_1.present? %>
            <%= f.text_field :education_name_1,  class: "my-2 p-2 rounded-md resize-y border-0 border-white", placeholder: "教育程度一" %>
          <% else %>
            <% if @profile.educations.first.present? %>
              <%= f.text_field :education_name_1, value: @profile.educations.first.title,  class: "my-2 p-2 rounded-md resize-y border-0 border-white", placeholder: "教育程度一" %>
            <% else %>
              <%= f.text_field :education_name_1,  class: "my-2 p-2 rounded-md resize-y border-0 border-white", placeholder: "教育程度一" %>
            <% end %>
          <% end %>
        </div>
      </div>
      <div class="flex">
        <div class="flex">
        
          <% if @resume.education_start_date_2.present? %>
            <%= f.text_field :education_start_date_2,  class: "my-2 p-2 rounded-md resize-y border-0 border-white", placeholder: "開始時間" %>
          <% else %>
            <% if @profile.educations.second.present? %>
              <%= f.text_field :education_start_date_2, value: @profile.educations.second.start_date,  class: "my-2 p-2 rounded-md resize-y border-0 border-white", placeholder: "開始時間" %>
            <% else %>
              <%= f.text_field :education_start_date_2,  class: "my-2 p-2 rounded-md resize-y border-0 border-white", placeholder: "開始時間" %>
            <% end %>
          <% end %>
                  
          <% if @resume.education_end_date_2.present? %>
            <%= f.text_field :education_end_date_2,  class: "my-2 p-2 rounded-md resize-y border-0 border-white", placeholder: "結束時間" %>
          <% else %>
            <% if @profile.educations.second.present? %>
              <%= f.text_field :education_end_date_2, value: @profile.educations.second.end_date,  class: "my-2 p-2 rounded-md resize-y border-0 border-white", placeholder: "結束時間" %>
            <% else %>
              <%= f.text_field :education_end_date_2,  class: "my-2 p-2 rounded-md resize-y border-0 border-white", placeholder: "結束時間" %>
            <% end %>
          <% end %>
          
          <% if @resume.education_name_2.present? %>
            <%= f.text_field :education_name_2,  class: "my-2 p-2 rounded-md resize-y border-0 border-white", placeholder: "教育程度二" %>
          <% else %>
            <% if @profile.educations.second.present? %>
              <%= f.text_field :education_name_2, value: @profile.educations.second.title,  class: "my-2 p-2 rounded-md resize-y border-0 border-white", placeholder: "教育程度二" %>
            <% else %>
              <%= f.text_field :education_name_2,  class: "my-2 p-2 rounded-md resize-y border-0 border-white", placeholder: "教育程度二" %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
</div>
  </div>

  <% elsif @resume.area_4 == 3 %>
    


    <div>
      <div class="mt-2">
        <h1 class="font-bold">教育程度</h1>
        <div class="flex justify-between mt-2">
            
          <% if @resume.education_name_1.present? %>
            <%= f.text_field :education_name_1,  class: "my-2 p-2 rounded-md resize-y border-0 border-white", placeholder: "教育程度一" %>
          <% else %>
            <% if @profile.educations.first.present? %>
              <%= f.text_field :education_name_1, value: @profile.educations.first.title,  class: "my-2 p-2 rounded-md resize-y border-0 border-white", placeholder: "教育程度一" %>
            <% else %>
              <%= f.text_field :education_name_1,  class: "my-2 p-2 rounded-md resize-y border-0 border-white", placeholder: "教育程度一" %>
            <% end %>
          <% end %>
          
          <div class="flex">
          
            <% if @resume.education_start_date_1.present? %>
              <%= f.text_field :education_start_date_1,  class: "my-2 p-2 rounded-md resize-y border-0 border-white", placeholder: "開始時間" %>
            <% else %>
              <% if @profile.educations.first.present? %>
                <%= f.text_field :education_start_date_1, value: @profile.educations.first.start_date,  class: "my-2 p-2 rounded-md resize-y border-0 border-white", placeholder: "開始時間" %>
              <% else %>
                <%= f.text_field :education_start_date_1,  class: "my-2 p-2 rounded-md resize-y border-0 border-white", placeholder: "開始時間" %>
              <% end %>
            <% end %>
                    
            <% if @resume.education_end_date_1.present? %>
              <%= f.text_field :education_end_date_1,  class: "my-2 p-2 rounded-md resize-y border-0 border-white", placeholder: "結束時間" %>
            <% else %>
              <% if @profile.educations.first.present? %>
                <%= f.text_field :education_end_date_1, value: @profile.educations.first.end_date,  class: "my-2 p-2 rounded-md resize-y border-0 border-white", placeholder: "結束時間" %>
              <% else %>
                <%= f.text_field :education_end_date_1,  class: "my-2 p-2 rounded-md resize-y border-0 border-white", placeholder: "結束時間" %>
              <% end %>
            <% end %>
            
          </div>
        </div>
      </div>
  
      <div class="mt-2">
        <div class="flex justify-between mt-2">
          
          <% if @resume.education_name_2.present? %>
            <%= f.text_field :education_name_2,  class: "my-2 p-2 rounded-md resize-y border-0 border-white", placeholder: "教育程度二" %>
          <% else %>
            <% if @profile.educations.second.present? %>
              <%= f.text_field :education_name_2, value: @profile.educations.second.title,  class: "my-2 p-2 rounded-md resize-y border-0 border-white", placeholder: "教育程度二" %>
            <% else %>
              <%= f.text_field :education_name_2,  class: "my-2 p-2 rounded-md resize-y border-0 border-white", placeholder: "教育程度二" %>
            <% end %>
          <% end %>
          <div class="flex">
          
            <% if @resume.education_start_date_2.present? %>
              <%= f.text_field :education_start_date_2,  class: "my-2 p-2 rounded-md resize-y border-0 border-white", placeholder: "開始時間" %>
            <% else %>
              <% if @profile.educations.second.present? %>
                <%= f.text_field :education_start_date_2, value: @profile.educations.second.start_date,  class: "my-2 p-2 rounded-md resize-y border-0 border-white", placeholder: "開始時間" %>
              <% else %>
                <%= f.text_field :education_start_date_2,  class: "my-2 p-2 rounded-md resize-y border-0 border-white", placeholder: "開始時間" %>
              <% end %>
            <% end %>
                    
            <% if @resume.education_end_date_2.present? %>
              <%= f.text_field :education_end_date_2,  class: "my-2 p-2 rounded-md resize-y border-0 border-white", placeholder: "結束時間" %>
            <% else %>
              <% if @profile.educations.second.present? %>
                <%= f.text_field :education_end_date_2, value: @profile.educations.second.end_date,  class: "my-2 p-2 rounded-md resize-y border-0 border-white", placeholder: "結束時間" %>
              <% else %>
                <%= f.text_field :education_end_date_2,  class: "my-2 p-2 rounded-md resize-y border-0 border-white", placeholder: "開始時間" %>
              <% end %>
            <% end %>
            
          </div>
        </div>
      </div>
    </div>

  <% end %>
</div>