<div class="area2">
  <% if @resume.area_2 == 1 %>
  
  <div class="flex flex-col mt-8">
    <h1 class="font-bold">工作經驗</h1>
    <div>
      <div class="flex" >
        

        <% if @resume.work_exp_start_date_1.present? %>
          <%= f.text_field :work_exp_start_date_1,  class: "px-2 w-28 rounded-md resize-y  border-white", placeholder: "工作開始日期" %>
        <% else %>
          <% if @profile.work_experiences.first.present? %>
            <%= f.text_field :work_exp_start_date_1, value: @profile.work_experiences.first.start_date,  class: "px-2 w-28 rounded-md resize-y  border-white", placeholder: "工作開始日期" %>
          <% else %>
            <%= f.text_field :work_exp_start_date_1,  class: "px-2 w-28 rounded-md resize-y  border-white", placeholder: "工作開始日期" %>
          <% end %>
        <% end %>
        <span>~</span>
        <% if @resume.work_exp_end_date_1.present? %>
          <%= f.text_field :work_exp_end_date_1,  class: "px-2 w-28 rounded-md resize-y  border-white", placeholder: "工作結束日期" %>
        <% else %>        
          <% if @profile.work_experiences.first.present? %>
            <%= f.text_field :work_exp_end_date_1, value: @profile.work_experiences.first.end_date,  class: "px-2 w-28 rounded-md resize-y  border-white", placeholder: "工作結束日期" %>
          <% else %>
            <%= f.text_field :work_exp_start_date_1,  class: "px-2 w-28 rounded-md resize-y  border-white", placeholder: "結束時間" %>
          <% end %>          
        <% end %>
        
      </div>

      <% if @resume.work_exp_name_1.present? %>
        <%= f.text_field :work_exp_name_1,  class: "w-9/12 p-2 font-semibold rounded-md resize-y  border-white ", placeholder: "工作名稱" %>
      <% else %>
        <% if @profile.work_experiences.first.present? %>
          <%= f.text_field :work_exp_name_1, value: @profile.work_experiences.first.title,  class: "w-9/12 p-2 font-semibold rounded-md resize-y  border-white ", placeholder: "工作名稱" %>
        <% else %>
          <%= f.text_field :work_exp_name_1,  class: "w-9/12 p-2 font-semibold rounded-md resize-y  border-white ", placeholder: "工作名稱" %>
        <% end %>
      <% end %>

    </div>
    <%= f.text_area :work_exp_content_1, class: "w-full h-32 my-1 p-2 rounded-md resize-y  border-white", placeholder: "工作內容" %>
  
    <div>
      <div class="flex" >
        
        <% if @resume.work_exp_start_date_2.present? %>
          <%= f.text_field :work_exp_start_date_2,  class: "px-2 w-28 rounded-md resize-y  border-white", placeholder: "工作開始日期" %>
        <% else %>
          <% if @profile.work_experiences.second.present? %>
            <%= f.text_field :work_exp_start_date_2, value: @profile.work_experiences.second.start_date,  class: "px-2 w-28 rounded-md resize-y  border-white", placeholder: "工作開始日期" %>
          <% else %>
            <%= f.text_field :work_exp_start_date_2,  class: "px-2 w-28 rounded-md resize-y  border-white", placeholder: "工作開始日期" %>
          <% end %>
        <% end %>
        <span>~</span>
        <% if @resume.work_exp_end_date_2.present? %>
          <%= f.text_field :work_exp_end_date_2,  class: "px-2 w-28 rounded-md resize-y  border-white", placeholder: "工作結束日期" %>
        <% else %>
          <% if @profile.work_experiences.second.present? %>
            <%= f.text_field :work_exp_end_date_2, value: @profile.work_experiences.second.end_datec,  class: "px-2 w-28 rounded-md resize-y  border-white", placeholder: "工作結束日期" %>
          <% else %>
            <%= f.text_field :work_exp_end_date_2,  class: "px-2 w-28 rounded-md resize-y  border-white", placeholder: "工作結束日期" %>
          <% end %>
        <% end %>
      </div>
      
      <% if @resume.work_exp_name_2.present? %>
        <%= f.text_field :work_exp_name_2,  class: "w-full grow mb-1 font-semibold p-2 rounded-md resize-y  border-white ", placeholder: "工作名稱" %>
      <% else %>
        <% if @profile.work_experiences.second.present? %>
          <%= f.text_field :work_exp_name_2, value: @profile.work_experiences.second.title,  class: "w-full grow mb-1 font-semibold p-2 rounded-md resize-y  border-white ", placeholder: "工作名稱" %>
        <% else %>
          <%= f.text_field :work_exp_name_2,  class: "w-full grow mb-1 font-semibold p-2 rounded-md resize-y  border-white ", placeholder: "工作名稱" %>
        <% end %>
      <% end %>
    </div>
    <%= f.text_area :work_exp_content_2,  class: "grow h-32 mb-1 p-2 rounded-md resize-y  border-white ", placeholder: "工作內容" %>

  </div>

  <% elsif @resume.area_2 == 2 %>
    
    <div>
      <div>
        <h1 class="font-bold">工作經驗</h1>
      </div>
      <div class="flex">
        <div class="w-1/4">
          
          <% if @resume.work_exp_start_date_1.present? %>
            <%= f.text_field :work_exp_start_date_1,  class: "px-2 w-28 rounded-md resize-y  border-white", placeholder: "工作開始日期" %>
          <% else %>
            <% if @profile.work_experiences.first.present? %>
              <%= f.text_field :work_exp_start_date_1, value: @profile.work_experiences.first.start_date,  class: "px-2 w-28 rounded-md resize-y  border-white", placeholder: "工作開始日期" %>
            <% else %>
              <%= f.text_field :work_exp_start_date_1,  class: "px-2 w-28 rounded-md resize-y  border-white", placeholder: "工作開始日期" %>
            <% end %>
          <% end %>
          <span>~</span>
          <% if @resume.work_exp_end_date_1.present? %>
            <%= f.text_field :work_exp_end_date_1,  class: "px-2 w-28 rounded-md resize-y  border-white", placeholder: "工作結束日期" %>
          <% else %>        
            <% if @profile.work_experiences.first.present? %>
              <%= f.text_field :work_exp_end_date_1, value: @profile.work_experiences.first.end_date,  class: "px-2 w-28 rounded-md resize-y  border-white", placeholder: "工作結束日期" %>
            <% else %>
              <%= f.text_field :work_exp_start_date_1,  class: "px-2 w-28 rounded-md resize-y  border-white", placeholder: "結束時間" %>
            <% end %>          
          <% end %>
        
        </div>
        <div class="flex flex-col grow">
          
          <% if @resume.work_exp_name_1.present? %>
            <%= f.text_field :work_exp_name_1,  class: "w-full grow mb-1 font-semibold p-2 rounded-md resize-y  border-white ", placeholder: "工作名稱" %>
          <% else %>
            <% if @profile.work_experiences.first.present? %>
              <%= f.text_field :work_exp_name_1, value: @profile.work_experiences.first.title,  class: "w-full grow mb-1 font-semibold p-2 rounded-md resize-y  border-white ", placeholder: "工作名稱" %>
            <% else %>
              <%= f.text_field :work_exp_name_1,  class: "w-full grow mb-1 font-semibold p-2 rounded-md resize-y  border-white ", placeholder: "工作名稱" %>
            <% end %>
          <% end %>
          
          <%= f.text_area :work_exp_content_1,  class: "grow h-32 mb-1 p-2 rounded-md resize-y  border-white ", placeholder: "工作內容" %>
        </div>
      </div>
      
      <div class="flex">
        <div class="w-1/4">
          
          <% if @resume.work_exp_start_date_2.present? %>
            <%= f.text_field :work_exp_start_date_2,  class: "px-2  w-28 rounded-md resize-y  border-white", placeholder: "工作開始日期" %>
          <% else %>
            <% if @profile.work_experiences.second.present? %>
              <%= f.text_field :work_exp_start_date_2, value: @profile.work_experiences.second.start_date,  class: "px-2  w-28 rounded-md resize-y  border-white", placeholder: "工作開始日期" %>
            <% else %>
              <%= f.text_field :work_exp_start_date_2,  class: "px-2  w-28 rounded-md resize-y  border-white", placeholder: "工作開始日期" %>
            <% end %>
          <% end %>
          <span>~</span>
          <% if @resume.work_exp_end_date_2.present? %>
            <%= f.text_field :work_exp_end_date_2,  class: "px-2 w-28 rounded-md resize-y  border-white", placeholder: "工作結束日期" %>
          <% else %>
            <% if @profile.work_experiences.second.present? %>
              <%= f.text_field :work_exp_end_date_2, value: @profile.work_experiences.second.end_date,  class: "px-2 w-28 rounded-md resize-y  border-white", placeholder: "工作結束日期" %>
            <% else %>
              <%= f.text_field :work_exp_end_date_2,  class: "px-2 w-28 rounded-md resize-y  border-white", placeholder: "工作結束日期" %>
            <% end %>
          <% end %>
        
        </div>
        <div class="flex flex-col grow">
          
          <% if @resume.work_exp_name_2.present? %>
            <%= f.text_field :work_exp_name_2,  class: "w-full grow mb-1 font-semibold p-2 rounded-md resize-y  border-white ", placeholder: "工作名稱" %>
          <% else %>
            <% if @profile.work_experiences.second.present? %>
              <%= f.text_field :work_exp_name_2, value: @profile.work_experiences.second.title,  class: "w-full grow mb-1 font-semibold p-2 rounded-md resize-y  border-white ", placeholder: "工作名稱" %>
            <% else %>
              <%= f.text_field :work_exp_name_2,  class: "w-full grow mb-1 font-semibold p-2 rounded-md resize-y  border-white ", placeholder: "工作名稱" %>
            <% end %>
          <% end %>

          <%= f.text_area :work_exp_content_2,  class: "grow h-32 mb-1 p-2 rounded-md resize-y  border-white ", placeholder: "工作內容" %>
        </div>
      </div>
    </div>

  <% elsif @resume.area_2 == 3 %>
    
    <div>
      <div class="flex flex-col mt-8">
        <h1 class="font-bold">工作經驗</h1>
        <div class="flex justify-between">
            
          <% if @resume.work_exp_name_1.present? %>
            <%= f.text_field :work_exp_name_1,  class: "grow mb-1 p-2 rounded-md resize-y  border-white", placeholder: "工作內容" %>
          <% else %>
            <% if @profile.work_experiences.first.present? %>
              <%= f.text_field :work_exp_name_1, value: @profile.work_experiences.first.title,  class: "grow mb-1 p-2 rounded-md resize-y  border-white", placeholder: "工作內容" %>
            <% else %>
              <%= f.text_field :work_exp_name_1,  class: "grow mb-1 p-2 rounded-md resize-y  border-white", placeholder: "工作內容" %>
            <% end %>
          <% end %>
          <div class="flex" >
            
            <% if @resume.work_exp_start_date_1.present? %>
              <%= f.text_field :work_exp_start_date_1,  class: "w-28 rounded-md resize-y border-white", placeholder: "工作開始日期" %>
            <% else %>
              <% if @profile.work_experiences.first.present? %>
                <%= f.text_field :work_exp_start_date_1, value: @profile.work_experiences.first.start_date,  class: "w-28 rounded-md resize-y border-white", placeholder: "工作開始日期" %>
              <% else %>
                <%= f.text_field :work_exp_start_date_1,  class: "w-28 rounded-md resize-y border-white", placeholder: "工作開始日期" %>
              <% end %>
            <% end %>
            <span>~</span>
            <% if @resume.work_exp_end_date_1.present? %>
              <%= f.text_field :work_exp_end_date_1,  class: "w-28 rounded-md resize-y border-white", placeholder: "工作結束日期" %>
            <% else %>        
              <% if @profile.work_experiences.first.present? %>
                <%= f.text_field :work_exp_end_date_1, value: @profile.work_experiences.first.end_date,  class: "w-28 rounded-md resize-y border-white", placeholder: "工作結束日期" %>
              <% else %>
                <%= f.text_field :work_exp_start_date_1,  class: "w-28 rounded-md resize-y border-white", placeholder: "結束時間" %>
              <% end %>          
            <% end %>
            
          </div>
        </div>
        <%= f.text_area :work_exp_content_1,  class: "my-2 p-2 rounded-md resize-y border-0 border-white  ", placeholder: "開始日期從work拿資料" %>
      </div>
      <div class="flex flex-col">
        <div class="flex justify-between">
            
          <% if @resume.work_exp_name_2.present? %>
            <%= f.text_field :work_exp_name_2,  class: "grow mb-1 p-2 rounded-md resize-y  border-white", placeholder: "工作經驗二" %>
          <% else %>
            <% if @profile.work_experiences.second.present? %>
              <%= f.text_field :work_exp_name_2, value: @profile.work_experiences.second.title,  class: "grow mb-1 p-2 rounded-md resize-y  border-white", placeholder: "工作經驗二" %>
            <% else %>
              <%= f.text_field :work_exp_name_2,  class: "grow mb-1 p-2 rounded-md resize-y  border-white", placeholder: "工作經驗二" %>
            <% end %>
          <% end %>
          <div class="flex" >         
            
            <% if @resume.work_exp_start_date_2.present? %>
              <%= f.text_field :work_exp_start_date_2,  class: "w-28 rounded-md resize-y border-white", placeholder: "開始時間" %>
            <% else %>
              <% if @profile.work_experiences.second.present? %>
                <%= f.text_field :work_exp_start_date_2, value: @profile.work_experiences.second.start_date,  class: "w-28 rounded-md resize-y border-white", placeholder: "開始時間" %>
              <% else %>
                <%= f.text_field :work_exp_start_date_2,  class: "w-28 rounded-md resize-y border-white", placeholder: "開始時間" %>
              <% end %>
            <% end %>
            <span>~</span>
            <% if @resume.work_exp_end_date_2.present? %>
              <%= f.text_field :work_exp_end_date_2,  class: "w-28 rounded-md resize-y border-white", placeholder: "工作結束日期" %>
            <% else %>
              <% if @profile.work_experiences.second.present? %>
                <%= f.text_field :work_exp_end_date_2, value: @profile.work_experiences.second.end_date,  class: "w-28 rounded-md resize-y border-white", placeholder: "工作結束日期" %>
              <% else %>
                <%= f.text_field :work_exp_end_date_2,  class: "w-28 rounded-md resize-y border-white", placeholder: "工作結束日期" %>
              <% end %>
            <% end %>
            
          </div>
        </div>
        <%= f.text_area :work_exp_content_2, class: "w-full h-32 my-2 p-2 rounded-md resize-y  border-white", placeholder: "工作內容" %>
      </div>
    </div>

  <% end %>
</div>