<section class="flex justify-center w-full">
  <div class="max-w-screen-lg p-16 mt-20 bg-white shadow-2xl">
    <div class="flex items-end min-h-min">
      <div class="flex flex-col text-center">
<% if @resume.area_1 == 1 %>

  <div class="flex min-h-min">
    <div >
      <div class="flex items-center justify-center pb-5 custom-width-250px">
        <% if @resume.profile.avatar.attached? %>
          <%= image_tag @resume.profile.avatar.variant(:thumb), class: "w-32 h-32 mx-auto" %>
        <% else %>
          <%= image_tag("defaultuser.png", class: "rounded-full w-32 h-32 mx-auto") %>
        <% end %>
      </div>
      <div class="flex flex-col items-center justify-center inline-block w-60">

        <p class="px-2 py-1 font-bold text-center "><%= @resume.full_name%></p>
        <p class="px-2 py-1 font-bold text-center "><%= @resume.job_hunting %></p>
        <p class="px-2 py-1 font-bold text-center "><%= @resume.phone %></p>


      </div>

      <div class="text-center">
        <h1 class="font-bold">語言</h1>
        <div class="flex flex-col">

        <% if @resume.profile.languages.present? %>
          <ul data-profileInfo-target="languages" class="text-gray-700 ">
            <% @resume.profile.languages.each do |language, level| %>
              <li><%= "#{language} • #{level}" %></li>
            <% end %>
          </ul>
        <% end %>
        </div>
      </div>
      <div class="flex flex-col items-center">
        <h2 class="font-bold">技能</h2>
        <ul data-profileInfo-target="skills" class="text-gray-700 ">
          <% @resume.profile.skills.each do |skill| %>
            <li class="block"><%= skill.tag %></li>
          <% end %>
        </ul>
      </div>
    </div>

    <div>
      <h1 class="mb-5 text-xl font-black">簡介</h1>
      <p class="text-justify min-h-min"><%= @resume.about_me %></p>
      <div class="mt-3">
        <% if @resume.social_links.present? %>
          <p ><%= @resume.social_links %></p>
        <% else %>
          <% if @resume.profile.social_links.first.present? %>
            <p ><%= @resume.social_links %></p>
            <p ><%= @resume.social_links %></p>
          <% else %>
            <p ><%= @resume.social_links %></p>
          <% end %>
        <% end %>
      </div>
    </div>



  </div>

<% else @resume.area_1 == 3 %>

  <div>
    <div class="mx-auto min-h-min">
      <div>
        <div class="flex flex-col items-center justify-center gap-2 ">
          <div class="flex items-center justify-center">
            <% if @resume.profile.avatar.attached? %>
              <%= image_tag @resume.profile.avatar.variant(:thumb), class: "mx-auto" %>
            <% else %>
              <%= image_tag("defaultuser.png", class: "rounded-full w-32 h-32 mx-auto") %>
            <% end %>
          </div>
          <p class="font-bold text-center "><%= @resume.full_name %></p>
          <p class="text-center "><%= @resume.job_hunting %></p>
          <p class="text-center "><%= @resume.phone %></p>
          <p class="text-center "><%= @resume.address %></p>
          <% if @resume.social_links.present? %>
            <p class=""><%= @resume.social_links %></p>
          <% else %>
            <% if @resume.profile.social_links.first.present? %>
            <p class=""><%= @resume.social_links %></p>
            <% else %>
            <p class=""><%= @resume.social_links %></p>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="flex flex-col w-full">
      <p class="px-3 text-justify min-h-min"><%= @resume.about_me %></p>
    </div>
    <div class="flex justify-between">
      <div class="grow">
        <h1 class="text-lg font-bold">語言</h1>
        <% if @resume.profile.languages.present? %>
          <ul data-profileInfo-target="languages" class="mt-2 text-gray-700">
            <% @resume.profile.languages.each do |language, level| %>
              <li><%= "#{language} • #{level}" %></li>
            <% end %>
          </ul>
      <% end %>
      </div>
      <div class="grow">
        <h1 class="text-lg font-bold ">技能</h1>
        <ul data-profileInfo-target="skills" class="mt-2 text-gray-700">
          <% @resume.profile.skills.each do |skill| %>
            <li class="block mr-2"><%= skill.tag %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
 <% end %>
