<%= form_with(url: update_resume_path(account: current_user.account, id: @resume.id), method: "patch", model: @resume, data: { turbo: false }) do |f| %>
  <%= f.submit "更新", name: "save", class: "edit_resume_btn" %>
  <% if @resume.publish == false %>
    <div class="edit_resume_btn right-96 top-32" data-serial="<%= @resume.id %>" data-account="<%= current_user.account %>" data-action="click->publish#updatePublish" data-controller="publish" data-publish="<%= @resume.publish %>">發佈</div>
  <% end %>
  <div data-controller="pdfGenerate" data-pdfGenerate-target="pdfContent" class="max-w-screen-lg mt-20 mb-16 bg-white shadow-2xl section-inputs sm:p-4 md:p-8 lg:p-16 min-h-1000">
    <%= render partial: "area1", locals: { f: f } %>
    <%= render partial: "area2", locals: { f: f } %>
    <%= render partial: "area3", locals: { f: f } %>
    <%= render partial: "area4", locals: { f: f } %>
  </div>
  <div class="fixed bottom-0 right-0 hidden bg-gray-100 xl:block top-68px" data-controller="resumeComponent" data-serial="<%= @resume.id %>" data-account="<%= current_user.account %>">
    <div class="flex-col justify-between h-full overflow-y-scroll align-center">
      <button id="generatePdfBtn" class="edit_resume_btn" data-action="pdfGenerate#generate">下載 PDF</button>
      <div class="px-10 pt-10 custom-width-190px">
        <div class="resume_item_bg">
          <p class="py-3 text-amber-700">基本資料</p>
          <span>樣式一</span>
          <%= image_tag "area_1_component_1.png",
            class: "cursor-pointer p-2 border-2  hover:border-amber-500 hover:duration-150",
            data: {
              area1: 1,
              action: "click->resumeComponent#saveComponent"
          } %>
          <span>樣式二</span>
          <%= image_tag "area_1_component_3.png",
          class: "resume_item",
            data: {
              area1: 3,
              action: "click->resumeComponent#saveComponent"
          } %>
        </div>
        <div class="resume_item_bg">
          <p class="py-3 text-amber-700">工作經驗</p>
          <span>樣式一</span>
          <%= image_tag "work_experience_part_1.png",
            class: "resume_item",
            data: {
              area2: 1,
              action: "click->resumeComponent#saveComponent"
          } %>
          <span>樣式二</span>
          <%= image_tag "work_experience_part_3.png",
            class: "resume_item",
            data: {
            area2: 3,
              action: "click->resumeComponent#saveComponent"
          } %>
        </div>
        <div class="resume_item_bg">
          <p class="py-3 text-amber-700">專案</p>
          <span>樣式一</span>
          <%= image_tag "project_part_1.png",
            class: "resume_item",
            data: {
            area3: 1,
              action: "click->resumeComponent#saveComponent"
          } %>
          <span>樣式二</span>
          <%= image_tag "project_part_2.png",
            class: "resume_item",
            data: {
            area3: 2,
              action: "click->resumeComponent#saveComponent"
          } %>
        </div>
        <div class="resume_item_bg">
          <p class="py-3 text-amber-700">教育</p>
          <span>樣式一</span>
          <%= image_tag "education_part_1.png",
            class: "resume_item",
            data: {
            area4: 1,
              action: "click->resumeComponent#saveComponent"
          } %>
          <span>樣式二</span>
          <%= image_tag "education_part_2.png",
            class: "resume_item",
            data: {
            area4: 2,
              action: "click->resumeComponent#saveComponent"
          } %>
        </div>
      </div>
    </div>
  </div>
<% end %>
