<div id="content" data-controller="resume">
  <nav class="bg-white border-gray border-b fixed w-full z-50">
    <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
      <a href="#" class="flex items-center">
        <%= image_tag 'Read.png', class: 'h-8 mr-3', alt: "Read Logo" %>
        <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">READMee</span>
      </a>
      <div class="flex items-center md:order-2">
        <a href="#" data-action="click->resume#saveContent" data-account="<%= current_user.account %>" data-resume-target="updateContent" data-serial="<%= @resume.id %>" class="flex mr-2 px-4 py-1 w-fit rounded-full block text-white  bg-amber-500">
          存儲更新
        </a>
        <i class="fa-regular fa-file-pdf text-4xl text-gray-400"></i>
        <i class="fa-regular fa-circle-question px-5 text-4xl text-gray-400"></i>
        <button type="button" class="flex mr-3 text-sm bg-gray-800 rounded-full md:mr-0 focus:ring-4 focus:ring-gray-300 dark:focus:ring-gray-600" id="user-menu-button" aria-expanded="false" data-dropdown-toggle="user-dropdown" data-dropdown-placement="bottom">
          <span class="sr-only">Open user menu</span>
          <img class="w-16 h-16 rounded-full" src="https://picsum.photos/300/200/?random=10" alt="user photo">
        </button>
        <!-- Dropdown menu -->
        <div class="z-50 hidden my-4 text-base list-none bg-white divide-y divide-gray-100 rounded-lg shadow dark:bg-gray-700 dark:divide-gray-600" id="user-dropdown">
          <div class="px-4 py-3">
            <span class="block text-sm text-gray-900 dark:text-white">Bonnie Green</span>
            <span class="block text-sm  text-gray-500 truncate dark:text-gray-400">name@flowbite.com</span>
          </div>
          <ul class="py-2" aria-labelledby="user-menu-button">
            <li>
              <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">
                Dashboard
              </a>
            </li>
            <li>
              <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">
                Settings
              </a>
            </li>
            <li>
              <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">
                Earnings
              </a>
            </li>
            <li>
              <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">
                Sign out
              </a>
            </li>
          </ul>
        </div>
        <button data-collapse-toggle="navbar-user" type="button" class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600" aria-controls="navbar-user" aria-expanded="false">
          <span class="sr-only">Open main menu</span>
          <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
          </svg>
        </button>      
      </div>
      <div class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1" id="navbar-user">
        <ul class="flex flex-col font-medium p-4 md:p-0 mt-4 border border-gray-100 rounded-lg bg-gray-50 text-black md:flex-row md:space-x-8 md:mt-0 md:border-0 md:bg-white text-black">
          <li>
            <a href="#" class="block py-2 pl-3 pr-4 text-gray-900 rounded">About</a>
          </li>
          <li>
            <a href="#" class="block py-2 pl-3 pr-4 text-gray-900 rounded">Services</a>
          </li>
          <li>
            <a href="#" class="block py-2 pl-3 pr-4 text-gray-900 rounded">About</a>
          </li>
          <li>
            <a href="#" class="block py-2 pl-3 pr-4 text-gray-900 rounded">Services</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
    
  <section class="bg-gray-100 w-full flex justify-between pl-32">  
    <div class="bg-white max-w-screen-lg p-16 shadow-xl mr-1 mt-48 mb-16">
      <div class="flex">
        <div class="inline-block custom-width-250 flex justify-center items-center">
          <img class="inline-block h-32 w-32  rounded-full" src="https://picsum.photos/200/200/?random=10">
        </div>
      <div class="flex items-center inline-block w-60" data-resume-target="basicInfo">
        <p data-resume-target="basicInfoContent"><%= @formatted_basic_info %></p>
        <textarea data-resume-target="basicInfoForm" class="w-full h-60 resize-y h-20 p-2 border rounded-md hidden"><%=  @resume.basic_info %></textarea>
      </div>
      <div class="inline-block w-1/2" data-resume-target="socialLinks">
        <p data-resume-target="socialLinksContent" class="break-words"><%= @formatted_social_links %></p>
        <textarea data-resume-target="socialLinksForm" class="w-full h-60 h-20 p-2 border rounded-md hidden"><%= @resume.social_links %></textarea>
        </div>
    </div>        
    <div class="pt-5l">
      <h1 data-resume-target="aboutMeTitle" class="text-xl font-bold py-3 h-200"><%= @resume.about_me_title%></h1>
      <input data-resume-target="aboutMeTitleForm" class="w-full h-10 resize-y h-20 p-2 border rounded-md hidden" value="<%= @resume.about_me_title%>">
      <p data-resume-target="aboutMeContent" class="overflow-auto"><%= @resume.about_me %></p>
      <textarea data-resume-target="aboutMeForm" class="w-full h-48 resize-y h-20 p-2 border rounded-md hidden"><%= @resume.about_me %></textarea>
    </div>
    <div class="pt-5l">
      <h1 class="text-xl font-bold py-3">技能</h1>
      <ul class="relative">
        <div class="absolute right-0 border-2 border-gray-300 rounded-full p-2 cursor-pointer hidden">+</div>
        <% @skills.each do |skill| %>
          <li class="inline-block px-5 py-3 border-2 border-gray-300 rounded-lg mr-2"><%= skill %></li>
        <% end %>
      </ul>
    </div>
    <div class="pt-5l" data-resume-target="workExperience">
      <h1 data-resume-target="workExperienceTitle" class="text-xl font-bold py-3"><%= @resume.work_experience_title %></h1>
      <input data-resume-target="workExperienceTitleForm" class="w-full h-10 resize-y h-20 p-2 border rounded-md hidden" value="<%= @resume.work_experience_title%>">
      <p data-resume-target="workExperienceContent" class="overflow-auto h-200"><%= @resume.work_experience %></p>
      <textarea data-resume-target="workExperienceForm" class="w-full h-48 resize-y h-20 p-2 border rounded-md hidden"><%= @resume.work_experience %></textarea>
    </div>
  </section>
    
  <div class="bg-gray-200 fixed top-96px right-0 bottom-0">
    <div class="h-full overflow-y-scroll">
      <div class="px-10 pt-10 custom-width-250">
        <p>組件一</p>
        <p>組件二</p>
        <p>組件三</p>
        <p>組件四</p>
      </div>
    </div>
  </div>
</div>