<section class="hidden w-full gap-4 mt-20 mb-10 shadow-2xl md:flex dark:bg-gray-700">
  <%= image_tag("websiteLogo.png", class: "w-28 h-28") %>
  <div>
    <h2 class="my-4 text-2xl font-semibold">找工作，從製作專業履歷開始</h2>
    <p class="text-lg text-gray-500">免費製作履歷，快速找到理想工作</p>
  </div>
</section>
<section class="flex w-full gap-8 p-10 md:flex-wrap resume-card lg:justify-start md:p-0">
  <% @users.each do |user| %>
    <% user.resumes.each do |resume| %>
      <% if resume.publish == true %>
        <li class="list-none">
          <div class="shadow-2xl card">
            <div>
              <turbo-frame id="show_resume_<%= resume.id %>">
                <%= link_to resume_path(resume.id), remote: true do %>
                  <div class="flex items-center justify-center h-52">
                    <% if resume.profile.avatar.attached? %>
                      <%= image_tag resume.profile.avatar, class:'w-32' %>
                    <% else %>
                      <%= image_tag "defaultuser.png", class:'w-32' %>
                    <% end %>
                  </div>
                <% end %>
              </turbo-frame>
            </div>
            <div class="flex items-center justify-between h-20">
              <span class="mx-auto user-name">
                <%= resume.full_name %>
              </span>
            </div>
          </div>
        </li>
      <% end %>
    <% end %>
  <% end %>
</section>
