<section class="flex gap-4 mt-20 mb-10 shadow-2xl">
  <%= image_tag("Read.png", class: "w-28 h-28") %>
  <div>
    <h2 class="my-4 text-2xl font-semibold">找工作，從製作專業履歷開始</h2>
    <p class="text-lg text-gray-500">免費製作履歷，快速找到理想工作</p>
  </div>
</section>
<section class="flex flex-wrap items-center gap-8 ">
  <% @users.each do |user| %>
    <% user.resumes.each do |resume| %>
      <% if resume.publish == true %>
        <li class="list-none">
          <div class="shadow-xl card">
            <div>
              <turbo-frame id="show_resume_<%= resume.id %>">
                <%= link_to resume_path(resume.id), remote: true do %>
              </turbo-frame>
            </div>
            <div class="flex items-center justify-between h-36">
              <%= image_tag "index_resume.png" %>
              <span class="user-name">
                <%= resume.full_name %>
              </span>
                  <% if resume.profile.avatar.attached? %>
                    <%= image_tag resume.profile.avatar, class:'w-10 m-auto absolute right-4 bottom-2' %>
                  <% else %>
                    <%= image_tag "defaultuser.png", class:'w-10 h-auto absolute right-4 bottom-4' %>
                  <% end %>
                <% end %>
            </div>
          </div>
        </li>
      <% end %>
    <% end %>
  <% end %>
</section>