<turbo-frame action="replace" id="show_resume_<%= @resume.id%>">
  <div class="modal" data-controller="show-resume-close-btn">
  <a href="#" class="inline-block px-5 py-3 mt-5 text-center text-white rounded-lg cursor-pointer bg-amber-500 hover:bg-amber-800">返回履歷列表</a>

  <% if current_user.id == @resume.user_id %>
    <a id="generatePdfBtn" class="inline-block px-5 py-3 mt-5 text-center text-white rounded-lg cursor-pointer bg-amber-500 hover:bg-amber-800" data-action="pdfGenerate#generate">下載 PDF</a>
  <% end %>
   <div>
    <%= render partial: "show_area1", locals: { resume: @resume } %>
    <%= render partial: "show_area2", locals: { resume: @resume } %>
    <%= render partial: "show_area3", locals: { resume: @resume } %>
    <%= render partial: "show_area4", locals: { resume: @resume } %>
   </div>

  </div>
</turbo-frame>
