<%= turbo_frame_tag "modal" do %>
  <div class="modal">
    <div>
      <%= link_to "Close",
        "#",
        class: "close-btn",
        data: {
          controller:"modal",
          action: "modals#close"
        } %>      
    </div>

    <section class="flex justify-center w-full">
      <div class="max-w-screen-lg p-16 mb-16 mr-1 bg-white shadow-2xl mt-28">
        <div class="flex">
          <div class="flex items-center justify-center inline-block custom-width-250px">
            <img class="inline-block w-32 h-32 rounded-full" src="https://picsum.photos/200/200/?random=10">
          </div>
          <div class="flex items-center inline-block w-60">
            <%= @resume.basic_info %></p>
            <p class="w-full h-20 p-2 resize-y h-60"><%= @resume.basic_info %></p>
          </div>
          <div class="inline-block w-1/2">
            <p class="break-words"><%= @formatted_social_links %></p>
            <p> <%= @resume.social_links %> </p>          
          </div>
        </div>
        <div class="pt-5l">
          <h1 class="py-3 text-xl font-bold h-200"><%= @resume.about_me_title%></h1>
          <p class="overflow-auto"><%= @resume.about_me %></p>          
        </div>
        <div class="pt-5l">
          <h1 class="py-3 text-xl font-bold">技能</h1>          
          <% if @skills.present? %>
            <% @skills.each do |skill| %>
              <li class="inline-block px-5 py-3 mr-2 border-2 border-gray-300 rounded-lg"><%= skill %></li>
            <% end %>
            <% else %>
              <li class="inline-block px-5 py-3 mr-2 border-2 border-gray-300 rounded-lg">請輸入技能</li>
            <% end %>
        </div>
        <div class="pt-5l">        
          <h1 class="py-3 text-xl font-bold"><%= @resume.work_experience_title %></h1>
          <p class="overflow-auto h-200"><%= @resume.work_experience %></p>
      </div>
    </section>    
  </div>
<% end%>