<meta name="turbo-visit-control" content="reload">
<%= turbo_frame_tag "modal" do %>
  <div class="modal">
    <div>
      <%= link_to "Close",
        resumes_path,
        class: "close-btn" %>
    </div>

    <%= render partial: "show_area1", locals: { resume: @resume } %>
    <%= render partial: "show_area2", locals: { resume: @resume } %>
    <%= render partial: "show_area3", locals: { resume: @resume } %>
    <%= render partial: "show_area4", locals: { resume: @resume } %>

  </div>
<% end %>