<% resource_class ||= User %>
<% resource_name ||= :user %>
<% I18n.locale = :'zh-TW' %>


<!DOCTYPE html>
<html>
  <head>
    <title>READMee</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class= " flex justify-end text-2xl px-5">
      
        <% if current_user %>
          <% if current_user.admin?%>
            <%= link_to '後臺', user_admin_path(account: current_user.account)%>
          <% end %>
          <%= link_to '個人資料', user_profile_path(account: current_user.account) %> |
          <%= link_to '登出', destroy_user_session_path, data: { 'turbo-method': :delete }%>
        <% else %>
          <%= link_to '註冊', new_user_registration_path%> |  
          <%= link_to '登入', new_user_session_path %> |
          <%- resource_class.omniauth_providers.each do |provider| %>
            <%= button_to "GOOGLE登入", omniauth_authorize_path(resource_name, provider), 
                                                                                data: { method: :post, turbo: false } %>
          <% end %>
        <% end %>
    </div>
    <main class="container mx-auto mt-28 px-5">  
      <div class= 'text-red-500'>
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p> 
      </div>
     
      <%= yield %>
    </main>
  </body>
</html>
