<% I18n.locale = :'zh-TW' %>
<!DOCTYPE html>
<html>
  <head>
    <title>READMee</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://cdn.tailwindcss.com"></script>
    <%= stylesheet_link_tag "https://unpkg.com/slim-select@latest/dist/slimselect.css", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body class="relative">
    <%= render "shared/navbar", class:"relative"%>   
    <main class="container min-h-screen mx-auto">
        <div class="absolute top-30 right-28">
          <%= render "shared/notice"%>
          <%= render "shared/alert" %>
        </div>        
        <%= yield %>
    </main>
    <%= turbo_frame_tag "modal"%>     
    <footer class="w-full px-2 py-1 text-gray-500 bg-white mt-46 "></footer>
  </body>
</html>
