<% I18n.locale = :'zh-TW' %>
<!DOCTYPE html>
<html>
  <head>
    <title>READMee</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "https://unpkg.com/slim-select@latest/dist/slimselect.css", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <%= render "shared/navbar", class:"relative"%>
    <main class="container mx-auto">
      <div class="absolute top-30 right-28">
        <%= render "shared/notice"%>
        <%= render "shared/alert" %>
      </div>
      <%= yield %>
    </main>
    <footer class="w-full text-gray-500 bg-white mt-96 ">
      <span class="block text-center">©2023 READMee Co., Ltd.</span>
    </footer>
  </body>
</html>
